@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html
  margin-top 0!important
  font-size 8px

  @media (min-width: $grid-lg)
    font-size 10px

  @media (min-width: $grid-xxl)
    font-size 12px
  
html[lang*="ru"],
html[lang*="en"]
  margin-top 0!important

body
  background-color $white
  color $primary-text-color
  height: 100%;
  font-size 1.7rem
  font-family $regular-font
  line-height 1.2

  &.customize-support
    margin-top 32px

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a 
  text-decoration none
  display inline-block

p 
  margin: 0

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
textarea,
button 
  outline: none
  background-clip: padding-box
  appearance: none

*, *:before, *:after { box-sizing: border-box; }

body.ovh
  overflow hidden
  position fixed
  -webkit-overflow-scrolling auto
  -webkit-overflow auto
  -ms-scroll-chaining none
  overscroll-behavior none
  top 0
  width 100%
  height 100%
  margin 0

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.main { flex: 1 0 auto; }

.container
    margin-left auto
    margin-right auto
    padding-left calc(var(--grid-gutter-width) / 2)
    padding-right calc(var(--grid-gutter-width) / 2)
    width 100%
    // overflow hidden

@media (min-width: $grid-sm)
    .container
        max-width $container-sm

@media (min-width: $grid-md)
    .container
        max-width $container-md

@media (min-width: $grid-lg)
    .container
        max-width $container-lg

@media (min-width: $grid-xl)
    .container
        max-width $container-xl

@media (min-width: $grid-xxl)
    .container
        max-width $container-xxl

.section
  &:not(:last-child)
    margin-bottom 5rem

    @media (min-width: $grid-md)
      margin-bottom 8rem

.main
  .intro--small
    &+.section
      margin-top 5rem

      @media (min-width: $grid-md)
        margin-top 10rem

//Модули
@import "modules/modules"

// Секции
@import "sections/about-slider"
@import "sections/accordeon"
@import "sections/article-content"
@import "sections/article-grid"
@import "sections/ask-form"
@import "sections/block-counter"
@import "sections/contacts"
@import "sections/eco-security"
@import "sections/opinions-section"
@import "sections/intro"
@import "sections/info"
@import "sections/gallery"
@import "sections/grid-items"
@import "sections/grid-slider"
@import "sections/main-parameters"
@import "sections/news-feed"
@import "sections/partners"
@import "sections/post"
@import "sections/search-result"
@import "sections/section-opinion-single"
@import "sections/section-opinion-slider"
@import "sections/section-documents"
@import "sections/videos"
@import "sections/videos-fluid"
@import "sections/video-single"
@import "sections/youtube-channel"

// Страницы
@import "pages/about-project"
@import "pages/documents"
@import "pages/ecology"
@import "pages/expert-opinions"
@import "pages/faq"
@import "pages/index"
@import "pages/page-404"
@import "pages/youtube-channel"