header.header
    .container
        .header-wrapper
            .header-logo
                a.logo.header-logo__link(href="/")
                    img.header-logo__icon(src="static/images/general/logo-svg.svg", alt="Шиес")
            
            .header-burger
                .side-bar-button
                    input(type="checkbox")
                    span
                    span
                    span
            
            #block-layer      
            .header-main
                
                .header-socials 
                    .header-search
                        form(action="").header-search__form
                            input.header-search__input(type="text")
                            button.header-search__btn(type="button")
                                +icon('search','header-search__icon')
                    ul.header-socials__list
                        li.header-socials__item
                            a(href="#").header-socials__link
                                +icon('vk','header-socials__icon')
                        li.header-socials__item
                            a(href="#").header-socials__link
                                +icon('youtube','header-socials__icon')
                        
                nav.nav.header__nav
                    li.nav__item.closed.has-sub-menu
                        a.nav__link(href="#") О проекте
                        .nav__sub-menu-wrapper.sub-menu
                            ul.sub-menu__list
                                li.sub-menu__item
                                    a(href="#").sub-menu__link Контакты
                                li.sub-menu__item
                                    a(href="#").sub-menu__link Документы
                                li.sub-menu__item
                                    a(href="#").sub-menu__link Длинное название пункта
                    li.nav__item.closed
                        a.nav__link(href="#") FAQ
                    li.nav__item.closed
                        a.nav__link(href="#") Новости
                    li.nav__item.closed
                        a.nav__link(href="#") Экспертное мнение
                    li.nav__item.closed
                        a.nav__link(href="#") Видео
                    li.nav__item.closed
                        a.nav__link(href="#") Экология
                    li.nav__item.closed
                        img.nav__icon(src="static/images/general/heart-icon.svg", alt="icon")
                        a.nav__link(href="#") ДОбрые дела

                include ../blocks/block-info