.info
    ul.info__list
        li.info__item
            a.info__link(href="#contact-form")
                +icon('massage','info__icon')
                span.info__descr Задать#[br]вопрос
        li.info__item
            a.info__link(href="/#online-translation")
                +icon('translation','info__icon')
                span.info__descr Онлайн-#[br]трансляция
        li.info__item#map-trigger
            a.info__link(href="#")
                +icon('map','info__icon')
                span.info__descr Карта#[br]свалок
        li.info__item
            a.info__phone(href="tel:88005111842") 8-800-511-18-42
            span.info__phone-descr ЕДИНЫЙ НОМЕР ИНФОРМАЦИОННОГО ЦЕНТРА
                    