.landfills-map-wrap
    #landfills_map(style="width: 100%")
    #map-close.landfills-map-close
        img(src="static/images/content/landfills-map/close-map.svg", alt="close").landfills-map-close__icon
    button.landfills-map-btn.btn Добавить новую свалку
    .map-notification#map-notification Кликните на карту
    #map-descr.map-descr
        button.map-descr__close.landfills-map-close
            img(src="static/images/content/landfills-map/close-map.svg", alt="close").landfills-map-close__icon
        .map-descr__wrap
            .map-descr__title Описание карты
            .map-descr__text 
                p.map-descr__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit.
                p.map-descr__paragraph Odit culpa voluptatibus vel dolorum quaerat facilis fugit dignissimos, dolorem quasi, ducimus corrupti praesentium officiis numquam repudiandae tempore obcaecati laborum nam aspernatur.
            a(href="#").map-descr__link Подробнее
    
    #landfills-popup-form.landfills-popup-form
        form(action="").form
            .form__title Добавить свалку
            button#landfills-form-close.landfills-map-close
                img(src="static/images/content/landfills-map/close-map.svg", alt="close").landfills-map-close__icon
            .form__group
                label.form__label(for="map-field-1") Описание
                input.form__input(type="text")#map-field-1
            .form__group
                label.form__label(for="map-field-1") Широта
                input.form__input#map-lat(type="text" disabled)
            .form__group
                label.form__label(for="map-field-1") Долгота
                input.form__input#map-long(type="text" disabled)
            .form__group
                input(type="submit" value="Отправить").form__btn.btn
