mixin opinions(items)
    each item in items
        .opinion
            .opinion__author.author
                .author__photo.opinion__photo
                    img(src="static/images/content/expert-opinions/"+item.photo, alt="Photo")
                .author__name.opinion__name!=item.name 
                .author__post.opinion__post!=item.post 
            
            .opinion__content
                if item.title
                    h2.opinion__title!=item.title
                p.opinion__text!=item.text 
                if item.link
                    a(href="#").opinion__link!=item.link 
                        +icon('link-arrow','link-arrow')