.section--accordeon
    // 

.accordeon
    border 1px solid $primary-border-color
    border-top 0
    padding 5rem 0
    padding-top 0
    margin-top 1.5rem

    &-wrap
        margin 5rem 4.8rem
    
    &-item
        border-bottom 1px solid $primary-border-color

        &__header
            font-size 2rem
            font-family $light-font
            color $primary-green
            display flex
            align-items center
            justify-content space-between
            padding 3.5rem 0
            cursor pointer
            line-height 1.4

            @media(min-width $grid-md)
                font-size 2.4rem

            &.active
                .toggle-arrow
                    transform rotate(-180deg)

        &__icon
            margin-left 2rem
            
            .toggle-arrow
                transition all .2s linear
                fill: none
                stroke: #338f30
                stroke-width: 3px
                size(2.6rem,1.5rem)

        &__body
            margin-top -3rem
            padding-top 2rem
            padding-bottom 2rem

            ul,
            ol
                margin-left 3rem
                margin-bottom 1rem
            
            li
                line-height 1.77
                font-family $light-font
                font-size 1.8rem
                padding 0

                a
                    font-size 1.5rem

                &:before    
                    content '\2022'
                    color $primary-green
                    font-family $bold-font
                    display inline-block
                    width 1.6rem
                    margin-left -1rem
            
            a
                line-height 1.5
                font-family $light-font
                font-size 2rem
                color $primary-green
                text-decoration none

                &:hover,
                &:focus
                    color $primary-green
                    text-decoration underline
            
            strong 
                font-family $bold-font
        
        &__text,
        p
            padding-top 1rem
            padding-bottom 1rem
            line-height 1.5
            font-family $light-font
            font-size 2rem

            
    @media(min-width $grid-sm)
        // 
    @media(min-width $grid-md)
        // 
    @media(min-width $grid-lg)
        // 
    @media(min-width $grid-xl)
        // 