.section.section--content
    margin-bottom 0

    &+.section--partners,
    &+.section--articles
        margin-top 5rem
    
    &+.section--ask-form
        margin-top 8rem

.content
    padding-bottom 4rem
    
    .title-block
        padding-top 2rem
    
        &+.content__wrap
            margin-top 4rem

    &__header
        margin-bottom 4rem

    &__date
        font-size 1.3rem
        font-family $light-font
        margin-bottom 1.5rem

    &__img
        width 100%

        &-wrap
            width 100%
            float right
            margin-left 7rem
            margin-bottom 5rem

            @media(min-width $grid-md)
                width 50%

    &__slider
        &-wrap
            float left
            margin-right 6.5rem
            width 100%
            position relative
            margin-bottom 4rem

            @media(min-width $grid-md)
                width 50%
            
            &--full
                width 100%
                margin-right 0
                margin-bottom 0

                .content-slider
                    &__slide
                        display flex
                        justify-content center
                        // align-items flex-end

                    .slick-list
                        .slick-track
                            display flex

        .slick-dots
            position absolute
            bottom 0
            left 50%
            transform translateX(-50%)
            display flex
            margin-bottom 1.6rem
            margin-left 0

            li  
                size(.9rem)
                background-color $white
                border-radius 50%

                &.slick-active
                    background-color $dot-active-bg

                &:not(:last-child)
                    margin-right 0.4rem

                &:before
                    display none

            button
                display none

    &-slider
        &__img
            width 100%

        .slick-slide
            height auto

        &__title
            position absolute
            color $white
            bottom 4rem
            text-shadow 0 0 0.4rem $black
            max-width 50rem
            text-align center

    p,
    &__paragraph
        font-size 1.8rem
        font-family $light-font
        line-height 1.77

        &:not(:last-child)
            margin-bottom 2rem
    
    a
        font-family $medium-font
        color $primary-green

    ul,ol
        margin-left 3rem
        margin-bottom 2rem
        padding 0

        li
            line-height 1.77
            font-family $light-font
            font-size 1.8rem
            padding 0

            &:before    
                content '\2022'
                color $primary-green
                font-family $bold-font
                display inline-block
                width 1rem
                margin-left -1.6rem
                margin-right 0.4rem
    ol
        li
            counter-increment list
            list-style-type none
            position relative

            &:before
                content counter(list) "."
                text-align right
                width 26px
                margin-left -2rem
        
    h2,h3,h4,h5,h6
        font-family $bold-font
        color $primary-green
        margin-bottom 2rem
    
    &__wrap
        &-slider
            text-align center
            display flex
            justify-content center
            margin-top 3rem


.article-title
    font-size 3.5rem
    font-family $bold-font
    color $cnt-title-color
    line-height 4.8rem

    @media(min-width $grid-md)
        font-size 4rem

.content-slider
    .slick-arrow
        background-image url(../images/general/prev-white.svg)

        &.slick-next
            right 2rem
            
        &.slick-prev
            left 2rem

.wp-block-gallery
    li  
        &:before
            display none

figure[class*="youtube"],
figure[class*="video"]
    iframe
        margin 0 auto
        display block

figcaption  
    font-style italic