.section--articles
    // 

.grid-cards
    display flex
    flex-wrap wrap
    justify-content center

.grid-card
    flex 1 0 100%
    max-width 100%
    background-color $white
    padding 2.6rem 3rem
    margin-bottom 0.9rem
    min-height 25rem

    @media(min-width $grid-md)
        flex 1 0 calc(50% - .6rem)
        max-width calc(50% - .6rem)
        // min-height unset

        &:nth-child(2n)
            margin-left 0.9rem

    @media(min-width $grid-xl)
        flex 1 0 calc(33.33% - .6rem)
        max-width calc(33.33% - .6rem)
        margin-left 0
        margin-right .9rem 

        &:nth-child(3n)
            margin-right 0
        &:nth-child(2n)
            margin-left 0
        

.articles
    &-title
        margin-bottom 8rem
        position relative
        border-top 1px solid $primary-border-color

        .title-block__title
            position absolute
            top -2.1rem

            @media(min-width $grid-md)
                top -2.5rem
    
    &~.section__link-wrap
        margin-top 4rem

.article
    align-items flex-start
    display flex
    box-shadow: 0 .3rem 2.1rem 0 rgba(0, 0, 0, 0.07)
    position relative

    @media(min-width $grid-md)
        align-items flex-start

    &--bg-img
        &.article
            align-items flex-end
        .article
            &__date,
            &__title
                color $white


    &__content
        position relative
        z-index 2
    
    &__date
        display inline-block
        font-size 1.3rem
        font-family $light-font
        margin-bottom .6rem
        color $primary-text-color

    &__title
        color $primary-green
        font-family $bold-font
        font-size 2.1rem
        margin-bottom -0.1rem
    
    &__text
        font-family $light-font
        line-height 2.5rem  
        margin-bottom 2rem
        margin-top 0.6rem
        color $primary-text-color
    
    &__category
        display inline-block
        color $article-link-color
        font-family $bold-font
        font-size 1.6rem
    
    &__icons
        display flex
        margin-top -2.4rem

        .icon-link
            margin-left 1.2rem

    &__icon
        display inline
        max-height 2.4rem
        max-width 8.2rem

    &__bg
        &-wrap
            overflow hidden
            position absolute
            top 0
            right 0
            left 0
            bottom 0
            z-index 1
        
        &-filter
            position absolute
            top 0
            left 0
            bottom 0
            right 0
            z-index 1
            mix-blend-mode multiply

            &.article__bg-filter--blue
                background-color #5a6cc9

            &.article__bg-filter--green
                background-color #aecb06
            
            &.article__bg-filter--red
                background-color #ef6300
        
        &-img
            position absolute
            left 50%
            transform translateX(-50%)
            top 0
            width 101%
            min-height 100%
            filter grayscale(1)

            &.article__bg-img--no-grayscale
                filter grayscale(0)
