.section--ask-form
    overflow hidden

.ask
    background-image: linear-gradient(to top, #86c59f, #7fc4a6, #79c3ac, #74c2b2, #71c0b8)
    position relative
    overflow visible
    margin-top 6rem
    
    &__border-img
        // background-image: linear-gradient(to top, #69bebf, #69bebf, #69bfbf, #6abfbe, #6abfbe);
        position absolute
        top -6rem
        right 50%
        fill #71c0b8
        width 4200px
        height 6rem
        transform rotate(0)translateX(50%)

.ask-title
    margin-bottom 4rem
    padding-top 4rem

    @media(min-width $grid-md)
        padding-top 5rem 

    &__title
        text-transform uppercase
        font-size 3.5rem
        color $white
        font-family $bold-font
        text-align center

        @media(min-width $grid-md)
            font-size 4.8rem

.ask-form
    max-width 95.5rem
    margin 0 auto
    padding-bottom 6rem

    @media(min-width $grid-md)
        padding-bottom 7rem 

    &.sent
        .form__row
            display none

.form
    &__row
        display flex
        flex-direction column

        &:not(:last-child)
            margin-bottom 2rem
        
        @media(min-width $grid-sm)
            flex-direction row
        
        &--btn
            margin-top 4rem
    
    &__group
        width 100%
        display flex
        justify-content center

        &:not(:last-child)
            margin-bottom 2rem
            @media(min-width $grid-sm)
                margin-right 3.5rem
                margin-bottom 0
        
        span,
        .wpcf7-form-control-wrap
            display flex
            width 100%
            flex 1 1 auto
            flex-direction column

            .wpcf7-not-valid-tip
                margin-top 0.8rem
                color $white
                font-family $light-font
    
        .ajax-loader
            position absolute
    
    &.sent,
    &.invalid
        .wpcf7-mail-sent-ok,
        .wpcf7-validation-errors
            border 2px solid $white
            color $white
            text-transform uppercase
            text-align center
            padding 2.4rem 1rem 2.2rem

    &__input
    &__textarea
        padding 2.1rem 1.6rem 1.7rem
        width 100%
        border 1px solid $white
        border-radius 0
        background-color transparent
        color $white
        outline: none
        appearance none
        font-size 1.7rem
        font-family $light-font
        line-height 1.5
        -webkit-user-select: auto !important
        -khtml-user-select: auto !important
        -moz-user-select: auto !important
        -ms-user-select: auto !important
        user-select: auto !important
        height 6.5rem

        +placeholder()
            color $white
            text-transform uppercase
        
    &__textarea
        height 21rem
    
    &__btn
        background-color $form-btn-bg
        color $white
        border 0
        box-shadow none
        border-radius 0
        font-size 2.6rem
        line-height 1
        font-family $bold-font
        padding 2.1rem 12rem 2rem
        cursor pointer
        transition all .2s linear
        width 100%  

        @media(min-width $grid-sm)
            width auto

        @media(min-width $grid-md)
            font-size 3.2rem
        &:hover,
        &:focus
            transform scale(1.05)