.section--block-counter
    // 

.block-counter
    position relative

    &__wrap
        display flex
        flex-wrap wrap

    &__item
        flex 1 0 calc(100%/3)
        max-width calc(100%/3)
        display flex
        font-family $bold-font
        flex-direction column
        line-height 1.6
        align-items center
        padding 2.5rem 2.5rem 4rem
        outline none

        @media(min-width $grid-md)
            padding 2.5rem 3rem 4rem

            &:not(:last-child)
                border-right 1px solid $primary-border-color
    
    &__number
        color $title-color
        font-size 6.4rem
        text-align center
        margin-bottom 0

        @media(min-width $grid-md)
            font-size 4.4rem

        @media(min-width $grid-xl)
            font-size 6.4rem
    
    &__descr
        color $primary-green
        text-align center
        font-size 2.1rem
    
        @media(min-width $grid-md)
            font-size 1.8rem

        @media(min-width $grid-xl)
            font-size 2.1rem

    .video-slider-navigation
        @media(min-width $grid-md)
            display none