.section--contacts
    &+.section.section--ask-form
        margin-top -10.1rem

        @media (min-width: $grid-md)
            margin-top -13.1rem

.contacts
    &-cont
        max-width 65rem
        margin auto
        margin-top 7rem
        margin-bottom 5rem
    
    &__address
        text-align center
        font-size 3.2rem
        font-family $light-font
        margin-bottom 4rem
    
    &__phone
        display flex
        flex-direction column
        align-items center
        margin-bottom 5.5rem  

        &-number
            color $primary-green
            font-size 4rem
            font-family $bold-font
            line-height 4rem
        
        &-descr
            color $primary-green
            font-size 1.6rem
            font-family $light-font
            line-height 2.4rem
            margin-bottom 1.4rem
        
        &-free
            font-size 1.3rem
            font-family $light-font
    
    &__email
        text-align center
        display block
        margin 0 auto
        color darken($footer-mail-color,9%)
        font-size 2.4rem
        font-family $bold-font
    
    &-map
        width 100%
        min-height: 51.4rem
        background-size cover
        background-position center center
        &__image
            width 100%
    
    &--padding-bottom
        padding-bottom 3rem