.section--eco-security
    //

.eco-security
    position relative
    border-bottom 1px solid $primary-border-color

    .video-slider-navigation
        @media(min-width $grid-md)
            display none