.section--gallery
    // 

.gallery
    &-list
        display flex
        flex-wrap wrap
        justify-content center

    &-item
        flex 0 0 100
        max-width 100%
        margin-bottom 3rem

        @media(min-width $grid-md)
            flex 0 0 49%
            max-width 49%

            &:nth-child(2n)
                margin-left 1.7rem

        @media(min-width $grid-lg)
            flex 0 0 32%
            max-width 32%
            margin-right 1.8rem
            
            &:nth-child(3n)
                margin-right 0

            &:nth-child(2n)
                margin-left 0

        &__preview
            width 100%
            margin-bottom 2rem
            position relative
            overflow hidden
            height 0
            padding-bottom 56.2%

            img 
                width 100%
                object-fit cover
            
            &:hover
                .gallery-item__icon
                    transform translate(-50%, -50%)scale(1.07)
        
        &__descr
            font-size 2rem
            line-height 1.4
            color $primary-green
            font-family $bold-font

        &__icon
            position absolute
            top 50%
            left 50%
            width 5rem
            height 5rem
            transform translate(-50%, -50%)
            transition .3s all linear
    
    &__title
        &+.gallery-list
            margin-top 7rem

.gallery-page
    .mfp-content
        padding-top 3rem
        padding-bottom 3rem
        max-width: 130vh

        .container
            position relative
            max-width: 100%
            padding-left 0
            padding-right 0
        
        .mfp-close
            background-color #ffffff
            border-radius 50%
            width 4rem
            height 4rem
            font-size 3.3rem
            padding-top 0.2rem
            line-height 3.9rem
            transition .2s all linear
            right: 2rem
            top 5rem
    
    .swiper-button-next:after, 
    .swiper-button-prev:after
        font-size: 4vmin
    
.slide-descr
    position absolute
    bottom 2rem
    left 50%
    transform translateX(-50%)
    color #ffffff
    background-color rgba(0,0,0,.5)
    padding 1rem 2rem
    max-width 90%   
    text-align center
    font-size 1rem

    @media(min-width $grid-md)
        font-size 1.7rem

.gallery
    &-top
        height 80%
        width 100%

        &__image
            width 100%
    
    &-thumbs
        height 20%
        box-sizing border-box
        padding 10px 0

        &__image
            width 100%
        
        .swiper-slide 
            height 100%
            filter brightness(0.4)
        
        .swiper-slide-thumb-active
            filter none

.swiper-container
    width 100%
    margin-left auto
    margin-right auto