.section--grid-slider
    // 

.grid-slider
    &__item
        padding 0
        margin 0        
        padding 0.3rem 0.5rem
        
    &__img
        width 100%
        // height auto
    
    .slick-arrow
        &.slick-next
            right -3rem
        
        &.slick-prev
            left -3rem
    @media(max-width $grid-xs-max)
        .slick-arrow
            background-image url("../images/general/prev-white.svg")
            &.slick-next
                right 2rem
            
            &.slick-prev
                left 2rem