.grid-items
    display flex
    flex-wrap wrap
    margin-top 9rem

    .slick-track
        display flex
    
    &.slick-slider
        .slick-arrow
            top 35%

    .grid-item
        text-align center
        flex: 1 1 calc(100%/3)
        max-width calc(100%/3)
        height auto
        margin-bottom 8rem
        outline: none

        &.slick-slide
            box-shadow: 1px 0px 0px 0px rgba($primary-border-color,1)

            &[aria-hidden="true"]
                box-shadow none

        @media(min-width $grid-md)

            &:not(:nth-child(3n))
                box-shadow: 1px 0px 0px 0px rgba($primary-border-color,1)

        &__wrapper
            height 100%
            padding 0 3rem  
            display flex
            flex-direction column
            align-items center

        &__icon
            size(auto,10rem)
            max-width 12rem
            margin-bottom 3rem
        
        &__title
            color $title-color
            font-size 2.1rem
            font-family $bold-font
            margin-bottom 2rem
        
        &__text
            font-size 1.7rem
            font-family $light-font
            line-height: 2.4rem