.info
    margin-bottom 2rem

    &__list
        display flex
        justify-content flex-end
    
    &__item
        display flex
        flex-direction column
        justify-content center
        position relative

        &:not(:last-child)
            @media(min-width $grid-lg)
                padding-right 2.8rem
                margin-right 2.8rem

                &:after
                    content ''
                    position absolute
                    width 1px
                    background-color $white
                    height calc(100% - 1rem)
                    top 50%
                    transform translateY(-50%)
                    right 0        
    
    &__link
        display flex
        align-items center
    
    &__icon
        size(4.2rem)
        stroke: $white

        &.icon-massage
            size(3.9rem)
    
    &__descr
        font-size 1.3rem
        line-height 1.6rem
        text-transform uppercase
        font-family $medium-font
        color $white    
        margin-left 1.5rem
    
    &__phone
        display block
        color $white
        font-family $medium-font
        font-size 1.4rem
        text-transform uppercase
        line-height 1.5

        &-descr
            font-size 1.2rem
            font-family $light-font
            text-transform uppercase
            color $white
    
    .icon-map
        width 3.2rem
    
    &+.section--articles
        margin-top 4rem

@media(max-width $grid-md-max)
    .info
        order 2
        margin-bottom:  5rem
        margin-top 5rem
        background-color $side-bar-bg

        &__list
            flex-direction column
            align-items flex-start

        &__item
            margin-bottom 2rem

