.intro
    position absolute
    width 100%
    height 36rem
    overflow hidden
    top 0
    z-index -1

    @media(min-width $grid-md)
        height 41.5rem

    &__img
        height 100%
        object-fit: cover
        
        @media(min-width $grid-sm)
            width 100%
            height auto
            

    &__border-img
        bottom -2px
        position absolute
        transform translateX(-50%)
        fill $white

    &--main
        .intro__border-img
            left 50%
            width 210%
            height 45px
            transform translateX(-63%)

            @media(min-width $grid-xl)
                width 220%

    &--small
        height 22.5rem
        background-color $intro-bg

        @media(min-width $grid-lg)
            height 26rem
        
        @media(min-width $grid-xl)
            height 22.5rem
    
        .intro__border-img
            width 2100px
            height 15px
            left 50%

            @media(min-width $grid-xxl)
                width 100%