.section--news-feed
    //

.news-feed
    justify-content center

    @media(min-width $grid-xl)
        display flex
        flex-wrap wrap
    
.news
    flex 0 0 (100% * (2/3))
    margin-bottom 4rem

    @media(min-width $grid-md)
        margin-bottom 12rem

        &--media-center
            margin-bottom 8rem

.news-filter
    margin-top 4rem
    margin-bottom 4.7rem 
    
    &__list
        display flex
        justify-content center
        flex-wrap wrap
    
    &__item
        &:not(:last-child)
            padding-right 1.2rem
            margin-right 1.2rem
            margin-bottom 1rem
            border-right 1px solid $primary-border-color
    
    &__link
        font-size 1.6rem
        color $primary-green
        font-family $bold-font

        &.active-link
            color $primary-text-color
            font-family $light-font

.news-articles
    display flex
    flex-direction column
    margin-top 7rem

    &__desc
        margin 7rem 0 0

        p
            font-size 1.8rem
            font-family $light-font
            line-height 1.77

            &:not(:last-child)
                margin-bottom 2rem

.news-article
    display flex
    flex-direction column
    
    &:not(:last-child)
        margin-bottom 5rem

        @media(min-width $grid-md)
            margin-bottom 7rem
    
    &--media-center
        &:not(:last-child)
            @media(min-width $grid-md)
                margin-bottom 3rem

    @media(min-width $grid-md)
        flex-direction row

    &__preview
        margin-bottom 2rem
        display flex
        justify-content center
        align-self flex-start

        &-link  
            display block
            border 1px solid $primary-border-color
        
        &-img
            width 100%
            margin auto
        
        &-icon
            width 100%
            display block
            margin auto

        @media(min-width $grid-md)
            margin-bottom 0
            margin-right 2.7rem
            flex 1 0 25%
            max-width 25%

    &__header
        font-family $light-font
        font-size 1.3rem 
        margin-bottom 1rem   
        
        &-item
            &:not(:last-child)
                padding-right 1.2rem
                margin-right 1.2rem
                border-right 1px solid $primary-border-color

    &__category
        color $primary-text-color
        text-transform uppercase
    
    &__title
        font-family $bold-font
        font-size 2.1rem
        line-height 1.5
        margin-bottom .7rem

        &-link
            color $primary-green
    
    &__descr
        font-size 1.6rem
        line-height 1.5

.media
    flex 0 0 75%
    margin-bottom 4rem

    @media(min-width $grid-md)
        margin-bottom 12rem
    
    @media(min-width $grid-xl)
        padding-left 2.5rem

    .title-block
        margin-bottom 5rem
        @media(min-width $grid-xl)
            margin-bottom 11.4rem

.media-articles

    .article--media
        &.article
            box-shadow none
            padding 0
            margin-bottom 4rem
            margin-left 0
            min-height unset

        .article
            &__title-link
                color $primary-green
            
            &__text
                margin-bottom 1rem
            
            &__category
                display flex
            
            &__icon
                margin 0
            
            &__link
                &-icon
                    margin-left 1rem
                    display flex
                    align-items flex-start
        
        &.grid-card
            flex 1 0 100%
            max-width 100%

.pagination
    width 100%
    display flex
    justify-content center

    &__item
        &:not(:last-child)
            padding-right 1.5rem
            margin-right 1.5rem
            border-right 1px solid $primary-border-color

        &.active
            .page-numbers
                color $primary-text-color
                font-family $light-font


        .page-numbers
            font-size 1.8rem
            color $primary-green
            font-family $bold-font
    
    &__link 
        font-size 1.8rem
        color $primary-green
        font-family $bold-font

        &.active-link
            color $primary-text-color
            font-family $light-font