// .section--partners

.partners
    margin-top 1.4rem
    display flex
    flex-direction column
    border 0

    @media(min-width: $grid-md)
        border 1px solid $primary-border-color
        flex-direction row

    &__col
        position relative
        padding 6.7rem 0 4.7rem
        margin 2.8rem 0
        flex 1 0 100%
        max-width 100%
        display flex
        justify-content center
        border-top 1px solid $primary-border-color
        
        @media(min-width: $grid-md)
            position relative
            padding 8.3rem 0 6.3rem
            margin 2.8rem 0
            flex 1 0 50%
            max-width 50%
            display flex
            justify-content center
            border 0
        
            &:not(:last-child)
                border-right 1px solid $primary-border-color

    &__wrapper
        display flex
        justify-content center
        align-items center
        flex-wrap wrap
        width 100%
    
    &__item
        flex 0 0 auto
        width calc(40% - 5rem)
        margin 0 2.5rem 
        margin-bottom 2rem
        display flex
        justify-content center

        &:nth-child(2n)
            justify-content center

    &__icon
        max-width 15rem
        max-height: 7.2rem
        height auto
        width auto
        object-fit contain

        @media (min-width: $grid-xl)
            max-width 20rem
            max-height: 7.2rem
    
    .title-block
        position absolute
        top -0.3rem
        z-index 2

        @media(min-width: $grid-md)
            top -3rem

        &__title
            display inline
            background-color $white
            line-height 0
            padding 1rem 1.8rem
            
            @media (min-width: $grid-xl)
                padding: 1rem 3.8rem