.section--post
    .opinion-list
        margin-top 5rem
    .opinion
        &__content
            padding 7.5rem 8.5rem 7.5rem
            background-image linear-gradient(to top, #86c59f, #7fc4a6, #79c3ac, #74c2b2, #71c0b8)
        &__text
            color $white
        
        &__link
            color $white

            .link-arrow,
            .icon-link-arrow
                stroke: $white

.author   
    align-items center
    display flex
    flex-direction column
    justify-content center
    text-align center
    position relative
    padding 2.3rem 2rem
        
    &__photo
        margin-bottom 3rem
        width 13.7rem
        height 13.7rem
        align-items: center
        display flex
        justify-content center
        border-radius 50%
        overflow hidden
        background-size 99%
        box-shadow inset 0px 0px 0px 2px rgba(255,255,255,1)
        background-image linear-gradient(to top, #8fc894, #80c7a0, #75c5ac, #6ec2b6, #6cbfbe)

        [src*="man.svg"]
            height 50%
            max-width 53%

        img 
            width 100%
            max-height 100%

        &--media-center
            margin-bottom 0
        
    &__name
        text-transform uppercase
        font-family $bold-font
        font-size 1.6rem
        margin-bottom 1rem

    &__post
        font-size 1.3rem
        font-family $light-font
        max-width 210px
        line-height 1.6rem
