.section--result
    // 

.result
    max-width 800px
    margin 0 auto

    &__title
        margin-bottom 8rem
    
    &__list
        &+.load-more,
        &+.pagination
            margin-top 8rem
    
    &__item
        &:not(:last-child)
            margin-bottom 3rem

        &-date
            font-size 1.2rem
            font-family 'neo_sans_pro_light', Arial, sans-serif
            padding-bottom 0.5rem
            display inline-block

            @media(min-width $grid-md)
                font-size 1.3rem
        
        &-header
            margin-bottom 0.6rem

        &-link
            font-size 3.2rem
            font-family $bold-font
            color $primary-green
            
            @media(min-width $grid-md)
                font-size 3.2rem
        
        &-text
            font-family $light-font
            font-size 1.8rem
            line-height 1.8
            
            @media(min-width $grid-md)
                font-size 1.8rem