.section--opinion-slider
    // 

.opinion-slider
    border-bottom 1px solid $primary-border-color

    .slick-list
        width 100%

    .slick-track
        min-width 100%
    
    .grid-items
        .grid-item
            flex 1 1 auto
            max-width 100%
            .author
                padding-top 0
                padding-bottom 0
                color $primary-text-color
                outline none

                &:after
                    display none