.section--ducuments
    // 
.ducuments
    margin-top 4rem

    @media(min-width $grid-md)
        margin-top 8rem

.ducuments-list
    &:not(:last-child)
        margin-bottom 4rem
    &__item
        padding 1.3rem 0

    &__icon
        size(6.3rem,6rem)
        display inline-block
        margin-right 1.8rem
        margin-bottom 1rem
    
    &__header
        display inline-block
        font-size 2.4rem
    
    &__link
        line-height 1.35
        font-size 1.8rem
        color $doc-link-color
    
