.section--single-opinion
    // 

.single-opinion
    margin-top 8.5rem

    &__author
        padding-top 1rem
        padding-right 1rem
        padding-left 1rem

        @media(min-width $grid-md)
            float right
            padding-left 6rem

        @media(min-width $grid-lg)
            padding-left 12rem
            padding-bottom 5rem
    
    &__paragraph
        &.content__paragraph
            @media(min-width $grid-md)
                font-size 2.4rem