.section--videos-fluid
    // 

.grid-fluid
    max-width $grid-xxl
    margin 0 auto
    padding-left: calc(var(--grid-gutter-width) / 2)
    padding-right: calc(var(--grid-gutter-width) / 2)

    @media(min-width $grid-md)
        padding 0

    &__title
        margin-bottom 4.5rem

    &__items
        @media(min-width $grid-md)
            display flex
            flex-wrap wrap
            justify-content center

    &__item
        flex 0 0 100%
        overflow hidden
        width 100%
        position relative
        overflow hidden
        transition all linear .2s
        outline: none

        &:hover
            .grid-fluid__hidden
                left 0
                z-index 2

        @media(min-width $grid-md)
            min-width calc(100%/2)
            flex 0 0 calc(100%/2)

        @media(min-width $grid-lg)
            min-width calc(100%/3)
            flex 0 0 calc(100%/3)
    
    &__visible
        background-position center center 
        background-size cover
        background-repeat no-repeat
        height 56vw
        position relative

        @media(min-width $grid-md)
            height 31.2vw
        
        @media(min-width $grid-lg)
            height 20.9vw

        @media(min-width $grid-xxl)
            height 27.866rem

    &__play-icon
        position absolute
        top 50%
        left 50%
        transform translate(-50%,-50%)
        size(6rem)
    
    &__hidden
        transition all linear 200ms
        position absolute
        width 100%
        height 100%
        background-color #3c9439
        opacity 0.9
        top 0
        left -100%
        padding 3rem
    
    &__title 
        font-family $bold-font
        font-size 2.6rem
        line-height 3.6rem
        text-transform uppercase
        color $white
    
    &__link-wrap
        margin-top 5rem
    
    .slick-slider
        .slick-arrow
            background-image url(../images/general/prev-white.svg)

            &.slick-next
                right 2rem
                
            &.slick-prev
                left 2rem