.section--videos
    .title-block
        margin-bottom 4rem

.videos
    display flex
    flex-wrap wrap
    justify-content space-between

.video-preview
    flex 1 0 calc(50% - .5rem)
    max-width calc(50% - .5rem)
    margin 5px 0
    height 0
    padding-bottom 29%
    position relative

    @media(min-width $grid-md)
        margin 5px 0

    @media(min-width $grid-md)
        height 33.8rem
        padding-bottom 0

    @media(min-width $grid-md)
        height 25.8rem
        flex 1 0 calc(50% - .5rem)
        max-width calc(50% - .5rem)
        min-height unset
    
    @media(min-width $grid-xl)
        height 33.8rem
    
    &:hover
        .video-preview__btn
            transform translateX(-50%)translateY(-50%)scale(1.1)

    &__img-wrap
        width 100%
        position relative
        overflow hidden
        height 0
        padding-bottom 61%

        @media(min-width $grid-md)
            height 100%
            padding-bottom 0

        .video__img
            min-height 100%
            width 100%
            position absolute
            left 50%
            transform translate(-50%,-50%)
            top 50%
    
    &__title
        color $white
        font-family $bold-font
        font-size 1.4rem
        line-height 1
        position absolute
        top 0
        padding 1rem 1.5rem
        text-transform uppercase

        @media(min-width $grid-md)
            font-size 2.5rem
            padding 3rem
    
    &__btn  
        position absolute
        top 50%
        left 50%
        transform translateX(-50%)translateY(-50%)
        transition .3s all linear
        background-color transparent
        border 0
        appearance none
        outline: none
    
    &__icon
        size(4rem,4rem)

        @media(min-width $grid-md)
            size(9rem,9rem)