.video
    position relative
    width 100%
    margin 0 auto
    height 0
    padding-bottom 56.25%
    background-color #000000

    @media(min-width $grid-xxl)
        max-width $grid-xxl
        height auto
        padding-bottom ($grid-xxl/2)


    &__link
        position absolute
        top 0
        left 0
        width 100%
        height 100%
    
    &__media
        position: absolute;
        top 0
        left 0
        width 100%
        height 100%
        border none
    
    &__button
        position absolute
        top 50%
        left 50%
        z-index: 1
        // display none
        padding 0
        width 68px
        height 48px
        border none
        background-color transparent
        transform translate(-50%, -50%)
        cursor pointer
    
    &__button-shape 
        fill #212121
        fill-opacity 0.8

    &__button-icon
        fill $white

    &:hover .video__button-shape,
    &:focus .video__button-shape 
        fill #ff0000
        fill-opacity 1
    
    &--enabled
        cursor pointer

        .video__button 
            display block