.grid-fluid
    &.grid-fluid--rows
        .grid-fluid
            &__item
                &:hover
                    .grid-fluid__play-icon
                        transform translate(-50%, -50%)scale(1.1)

            &__play-icon
                transition: 0.3s all linear

            &__link-wrap
                margin 3rem 0 4.5rem
            
            &__descr
                padding 3rem 2rem 2rem 2rem

                @media(min-width $grid-md)
                    padding 3rem 7rem 3rem 5rem

            &__date
                display inline-block
                margin-bottom .7rem
                color $primary-text-color
                font-family $light-font
            
            &__title
                margin-bottom 1rem
                color $primary-green
                font-size 2.1rem
                line-height 2.8rem

                @media(min-width $grid-sm)
                    margin-bottom 3rem