.footer 
    flex: 0 0 auto

    &__wrapper
        display flex
        margin 4rem 0
        flex-wrap wrap
    
    &__item
        align-items center
        display flex
        flex-direction column
        justify-content center
        width 100%
        flex 1 0 100%

        @media (min-width: $grid-lg)
            width calc(100%/3)
            flex 1 0 calc(100%/3)
            padding 3.3rem

        &:not(:last-child)
            margin-bottom 4rem

            @media (min-width: $grid-lg)
                margin-bottom 0
                border-right 1px solid $primary-border-color

.footer-logo
    padding-right 3.3rem
    
    &__icon
        size(14rem,5.7rem)

.footer-phone
    align-items center
    
    @media (min-width: $grid-lg)
        align-items flex-start


    &__link
        font-size 2.4rem
        font-family $bold-font
        color $primary-green
    
    &__descr 
        color $primary-green
        font-size 1.6rem
        font-family $light-font
        line-height: 2.4rem
        margin-bottom 1.5rem
    
    &__free
        font-family $light-font
        color $footer-icon-color
        font-size 1.3rem

.footer-socials
    @media (min-width: $grid-lg)
        align-items flex-start
    
    &__list
        display flex
        flex-wrap wrap
        justify-content center
        
        @media (min-width: $grid-lg)
            margin-left 0.7rem
        
    &__link
        font-size 1.6rem
        font-family $bold-font
        color $footer-mail-color

    &__item
        &:not(:last-child)
            margin-bottom 1rem
            margin-right 3.7rem 

    &__icon
        size(23px,16px)
        fill $footer-icon-color

.footer-search
    margin-bottom 3rem
    display flex
    align-items flex-start

    @media (min-width: $grid-lg)
        margin-left 0.4rem

    &__input
        border 1px solid $primary-border-color
        height 2.8rem
        color $primary-text-color
        font-size 1.3rem
        padding .8rem .8rem .6rem
        margin-right 1.4rem
    
    &__btn
        cursor pointer
        height 2.8rem
        color $white
        text-transform uppercase
        font-size 1.2rem
        font-family $bold-font
        border 0
        background-color $primary-green
        padding .8rem .8rem .4rem
        transition all .2s linear

        &:hover,
        &:focus
            box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);