extends template/main

block variables
    - var title = 'О проекте'
    - var pageClass = 'about-project-page'

block content
    include sections/intro-small
    +content({
        title:'О ПРОЕКТЕ',
        image:'cnt-img-1.jpg',
        text: [
            'Глобальная цель нацпроекта – изменить к 2024 году воздействие на окружающую среду, сделать ее комфортной и безопасной для людей. Нацпроект «экология» разработан с целью исполнение указа Президента России В.В. Путина о целях и стратегических задачах страны в части экологического благополучия.',
            'В Поморье выявлено 312 несанкционированных свалок, а 22 официально функционирующих полигона эксплуатируются с нарушениями.',
            'Специалисты подсчитали, что 88 несанкционированных мусорных свалок Поморья находятся на территориях лесного фонда. 47 – в границах населенных пунктов, 60 – на землях сельхозназначения. 117 свалок располагаются на территориях предприятий и промышленных зон. Но и легальные полигоны не отвечают нынешним экологическим нормам, поэтому их необходимо рекультивировать.',
            'Согласно законодательству, свалки в муниципалитетах должны ликвидировать местные власти. Рекультивация одной свалки обходится в несколько сотен миллионов, а свалок в каждом районе – от 4-х до 30-ти. С введением новой системы по обращению с ТКО полномочия по ликвидации несанкционированных свалок станут обязанностью регионального оператора. Самая серьезная опасность, исходящая от всех свалок, одна – заражение почвы грунтовых вод и водоемов на поверхности. Зараженная тяжелыми металлами, продуктами разложения и прочей гадостью влага через почву просачивается в подземные воды, а затем и в Северную Двину и малые реки, откуда ведется забор воды для питьевых и других нужд населения.',
            'Складировать мусор уже просто негде: места рядом с городами заняты, а везти за сотни километров никто не будет. Единственный способ предотвратить катастрофу – рациональная утилизация мусора, сортировка, повторное использование и переработка.',
            'На ликвидацию в нашем регионе несанкционированных свалок, необходимо около 1 млрд руб. Фактически же выделяется около 10 млн, то есть 1 %. Если новый мусор не будет появляться совсем, то такими темпами свалки будут ликвидированы за сто лет. При нынешних темпах появления нового мусора с таким финансированием помойки нас поглотят через 10-15 лет.'
        ]
    })
    include sections/main-parameters
    +content({
        text: [
            'Глобальная цель нацпроекта – изменить к 2024 году воздействие на окружающую среду, сделать ее комфортной и безопасной для людей. Нацпроект «экология» разработан с целью исполнение указа Президента России В.В. Путина о целях и стратегических задачах страны в части экологического благополучия. В Поморье выявлено 312 несанкционированных свалок, а 22 официально функционирующих полигона эксплуатируются с нарушениями.',
            'Специалисты подсчитали, что 88 несанкционированных мусорных свалок Поморья находятся на территориях лесного фонда. 47 – в границах населенных пунктов, 60 – на землях сельхозназначения. 117 свалок располагаются на территориях предприятий и промышленных зон. Но и легальные полигоны не отвечают нынешним экологическим нормам, поэтому их необходимо рекультивировать'
        ]
    })
    +content({
        slider: [
            'cnt-img-1.jpg',
            'cnt-img-1.jpg',
            'cnt-img-1.jpg'
        ],
        text: [
            'В областном Собрании депутатов состоялось заседание рабочей группы, которая рассмотрела два законопроекта о запрете ввоза в Поморье отходов из других регионов.',
            'Между первым и вторым рассмотрением законопроектов, запрещающих ввоз отходов в Архангельскую область, прошло пять дней. Правда за это время корректировки документов не произошло. Сергей Пивков и Ирина Чиркова представили свои инициативы в первоначальной редакции. ЛДПР хочет поставить шлагбаум на пути отходов. Справедливая Россия готова его приподнимать, но только для вторсырья, которое может пойти в переработку.',
            'Мы говорим о единстве экономического пространства, мы полагаем, что те запреты, которые предлагаются данными законопроектами, могут быть установлены исключительно на федеральном уровне, — рассказал старший помощник прокурора Архангельской области Игорь Бакин. Получается, что даже если областное собрание пойдёт в обход мнения надзорных органов — рассмотрит и поддержит какой-либо из законопроектов — толку от этого, судя по всему, не будет.',
            'В случае их принятия область превысит свои полномочия и любой из принятых законов будет опротестован прокуратурой через суд, — сказал зампредседателя Архангельского областного Собрания депутатов Игорь Чесноков. Компромиссное решение озвучил корифей юриспруденции — Станислав Вторый. Советник спикера областного собрания предложил пересмотреть сам 89-й федеральный закон «Об отходах производства и потребления».'
        ]
    })
    include sections/partners
    +content({
        text: [
            'Мы говорим о единстве экономического пространства, мы полагаем, что те запреты, которые предлагаются данными законопроектами, могут быть установлены исключительно на федеральном уровне, — рассказал старший помощник прокурора Архангельской области Игорь Бакин. Получается, что даже если областное собрание пойдёт в обход мнения надзорных органов — рассмотрит и поддержит какой-либо из законопроектов — толку от этого, судя по всему, не будет.',
            'В случае их принятия область превысит свои полномочия и любой из принятых законов будет опротестован прокуратурой через суд, — сказал зампредседателя Архангельского областного Собрания депутатов Игорь Чесноков. Компромиссное решение озвучил корифей юриспруденции — Станислав Вторый. Советник спикера областного собрания предложил пересмотреть сам 89-й федеральный закон «Об отходах производства и потребления».'
        ]
    })
    +video()
    +content({
        text: [
            'Мы говорим о единстве экономического пространства, мы полагаем, что те запреты, которые предлагаются данными законопроектами, могут быть установлены исключительно на федеральном уровне, — рассказал старший помощник прокурора Архангельской области Игорь Бакин. Получается, что даже если областное собрание пойдёт в обход мнения надзорных органов — рассмотрит и поддержит какой-либо из законопроектов — толку от этого, судя по всему, не будет.',
            'В случае их принятия область превысит свои полномочия и любой из принятых законов будет опротестован прокуратурой через суд, — сказал зампредседателя Архангельского областного Собрания депутатов Игорь Чесноков. Компромиссное решение озвучил корифей юриспруденции — Станислав Вторый. Советник спикера областного собрания предложил пересмотреть сам 89-й федеральный закон «Об отходах производства и потребления».'
        ]
    })
    include sections/ask-form