extends template/main

block variables
	- var title = 'Новости'
	- var pageClass = 'content-page'

block content
	include sections/intro-small
	include sections/article-content
	include sections/grid-slider
	+article-cards('ДРУГИЕ НОВОСТИ')
	include sections/ask-form