extends template/main

block variables
	- var title = 'Документы'
	- var pageClass = 'documents-page'

block content
	include sections/intro-small
	include sections/section-documents
	include sections/ask-form