extends template/main

block variables
    - var title = 'Национальный проект «Экология»'
    - var pageClass = 'ecology-page'

block content
    include sections/intro-small
    +content({
        title:'Национальный проект «Экология»',
        image:'cnt-img-1.jpg',
        text: [
            'В областном Собрании депутатов состоялось заседание рабочей группы, которая рассмотрела два законопроекта о запрете ввоза в Поморье отходов из других регионов.',
            'Между первым и вторым рассмотрением законопроектов, запрещающих ввоз отходов в Архангельскую область, прошло пять дней. Правда за это время корректировки документов не произошло. Сергей Пивков и Ирина Чиркова представили свои инициативы в первоначальной редакции. ЛДПР хочет поставить шлагбаум на пути отходов. Справедливая Россия готова его приподнимать, но только для вторсырья, которое может пойти в переработку. Оставшись на прежних позициях, авторы закономерно оставили на них и прокуратуру.'
        ]
    })
    include sections/eco-security
    +content({
        text: [
            'Мы говорим о единстве экономического пространства, мы полагаем, что те запреты, которые предлагаются данными законопроектами, могут быть установлены исключительно на федеральном уровне, — рассказал старший помощник прокурора Архангельской области Игорь Бакин. Получается, что даже если областное собрание пойдёт в обход мнения надзорных органов — рассмотрит и поддержит какой-либо из законопроектов — толку от этого, судя по всему, не будет.',
            'В случае их принятия область превысит свои полномочия и любой из принятых законов будет опротестован прокуратурой через суд, — сказал зампредседателя Архангельского областного Собрания депутатов Игорь Чесноков. Компромиссное решение озвучил корифей юриспруденции — Станислав Вторый. Советник спикера областного собрания предложил пересмотреть сам 89-й федеральный закон «Об отходах производства и потребления».'
        ]
    })
    +block-counter([{
        number: '575 000',
        descr: 'Тонн отходов в год образуется в Поморье'
    }, {
        number: '275 000',
        descr: 'Тонн из них попадает на нелегальные свалки'
    } ,{
        number: '312',
        descr: 'Несанционированных свалок'
    }])
    +content({
        slider: [
            'cnt-img-1.jpg',
            'cnt-img-1.jpg',
            'cnt-img-1.jpg',
            'cnt-img-1.jpg'
        ],
        text: [
            'В областном Собрании депутатов состоялось заседание рабочей группы, которая рассмотрела два законопроекта о запрете ввоза в Поморье отходов из других регионов.',
            'Между первым и вторым рассмотрением законопроектов, запрещающих ввоз отходов в Архангельскую область, прошло пять дней. Правда за это время корректировки документов не произошло. Сергей Пивков и Ирина Чиркова представили свои инициативы в первоначальной редакции. ЛДПР хочет поставить шлагбаум на пути отходов. Справедливая Россия готова его приподнимать, но только для вторсырья, которое может пойти в переработку.',
            'Мы говорим о единстве экономического пространства, мы полагаем, что те запреты, которые предлагаются данными законопроектами, могут быть установлены исключительно на федеральном уровне, — рассказал старший помощник прокурора Архангельской области Игорь Бакин. Получается, что даже если областное собрание пойдёт в обход мнения надзорных органов — рассмотрит и поддержит какой-либо из законопроектов — толку от этого, судя по всему, не будет.',
            'В случае их принятия область превысит свои полномочия и любой из принятых законов будет опротестован прокуратурой через суд, — сказал зампредседателя Архангельского областного Собрания депутатов Игорь Чесноков. Компромиссное решение озвучил корифей юриспруденции — Станислав Вторый. Советник спикера областного собрания предложил пересмотреть сам 89-й федеральный закон «Об отходах производства и потребления».'
        ]
    })
    //- include sections/partners
    +video()
    +content({
        text: [
            'Мы говорим о единстве экономического пространства, мы полагаем, что те запреты, которые предлагаются данными законопроектами, могут быть установлены исключительно на федеральном уровне, — рассказал старший помощник прокурора Архангельской области Игорь Бакин. Получается, что даже если областное собрание пойдёт в обход мнения надзорных органов — рассмотрит и поддержит какой-либо из законопроектов — толку от этого, судя по всему, не будет.',
            'В случае их принятия область превысит свои полномочия и любой из принятых законов будет опротестован прокуратурой через суд, — сказал зампредседателя Архангельского областного Собрания депутатов Игорь Чесноков. Компромиссное решение озвучил корифей юриспруденции — Станислав Вторый. Советник спикера областного собрания предложил пересмотреть сам 89-й федеральный закон «Об отходах производства и потребления».'
        ]
    })
    include sections/ask-form