extends template/main

block variables
	- var title = 'Экспертное мнение'
	- var pageClass = 'opinions-page'

block content
	include sections/intro-small
	include sections/opinions-section
	include sections/ask-form