extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include sections/intro
	+article-cards()
	include sections/videos
	include sections/partners
	include sections/post
	+about()
	include sections/videos-fluid
	+accordeon('Все вопросы')
	include sections/ask-form