extends template/main

block variables
	- var title = 'Результаты поиска'
	- var pageClass = 'seach-page'

block content
	include sections/intro-small
	include sections/search-result
	include sections/ask-form