extends template/main

block variables
	- var title = 'Экспертное мнение'
	- var pageClass = 'opinion-page'

block content
	include sections/intro-small
	include sections/section-opinion-single
	include sections/section-opinion-slider
	include sections/ask-form