extends template/main

block variables
	- var title = 'Контакты'
	- var pageClass = 'contacts-page'

block content
	include sections/intro-small
	include sections/youtube-channel-s
	include sections/ask-form