// Colors
$white = #ffffff
$black = #000000
$primary-text-color = #5b5b5b
$primary-green = #2f933f
$article-link-color = #999999
$title-color = #f5821f
$primary-border-color = #ebebeb
$slider-title-color = $title-color
$article-link-color = #999999
$article-link-color = #999999
$form-btn-bg = $title-color
$footer-icon-color = #797979
$footer-mail-color = $title-color
$side-bar-bg = #237201
$intro-bg = #338f30
$cnt-title-color = $intro-bg
$mail-color = #f07c00
$dot-active-bg = #ff9933
$doc-link-color = #339933


// GRID
$grid-sm = 576px
$grid-md = 768px
$grid-lg = 992px
$grid-xl = 1300px
$grid-xxl = 1600px
$content-size = 1240px

$grid-xs-max = (576px - 0.02px)
$grid-sm-max = (768px - 0.02px)
$grid-md-max = (992px - 0.02px)
$grid-lg-max = (1300px - 0.02px)
$grid-xl-max = (1600px - 0.02px)

$container-sm = 540px
$container-md = 720px
$container-lg = 960px
$container-xl = 1240px
$container-xxl = 1440px

$line-height-base = 1.428
$line-height-lg = $line-height-base
$line-height-sm = $line-height-base

$border-width = 1px
$border-color = $gray-200


:root
    --grid-gutter-width: 30px

    @media (min-width: 430px) and (max-width: $grid-sm-max)
        --grid-gutter-width: 80px

    @media (min-width: $grid-lg)
        --grid-gutter-width: 40px

// Fonts
$basefz = 1rem
$font-size-lg = 1.25rem
$font-size-sm = .875rem

$font-weight-light = 300
$font-weight-normal = normal
$font-weight-bold = 700

$font-family-base = Roboto, Arial, Helvetica, sans-serif
$font-family-monospace = "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

$light-font = 'neo_sans_pro_light', Arial, sans-serif
$regular-font = 'neo_sans_pro_regular', Arial, sans-serif
$medium-font = 'neo_sans_pro_medium', Arial, sans-serif
$bold-font = 'neo_sans_pro_bold', Arial, sans-serif