.title-block
    &__title
        color $title-color
        font-family $bold-font
        font-size 2.6rem
        text-align center
        text-transform uppercase

        @media (min-width: $grid-md)
            font-size 3.2rem
    
    &--lines
        display flex
        justify-content center
        position: relative;
        border-top: 1px solid #ebebeb;

        .title-block__title 
            position: absolute
            padding: 0 1.8rem
            background-color $white
            display inline
            top -1rem
            line-height 1.1

            @media(min-width $grid-md)
                top -1.2rem


            @media (min-width: $grid-xl)
                top -2.2rem
                padding: 1rem 3.8rem;