@import section-titles

.section
    &__link
        font-family $medium-font
        font-size 1.6rem
        color $primary-green
        text-transform uppercase
        display flex
        line-height 1.1
        align-items flex-end

        @media(min-width $grid-lg)
            line-height 0.8

        @media(min-width $grid-xxl)
            line-height 0.6

        &:hover
            .link-arrow
                transform: translateX(20%)

        &-wrap
            text-align center
            display flex
            justify-content center
            align-items center

            &--media-center
                margin 5.5rem 0 0
        
        .link-arrow
            transition all .2s linear
            vertical-align: top;
            margin-left 1rem

.clearfix
    &:after
        content ""
        display table
        clear both
        
.slick-slider
    .slick-arrow
        cursor pointer
        padding 0
        position absolute
        border 0
        color transparent
        background-color transparent
        background-image url(../images/general/prev.svg)
        background-position center
        height 3.4rem
        width 1.8rem
        background-repeat no-repeat
        transform translateY(-50%)
        top 50%
        z-index 3

        &.slick-prev
            left 0

            @media(min-width 430px)
                left -2rem

        &.slick-next
            right 0
            transform translateY(-50%)rotate(180deg)

            @media(min-width 430px)
                right -2rem

.load-more
    display flex
    justify-content center

    &__input
        border 0
        background-color transparent
        color $primary-green
        display inline-block
        cursor pointer
        font-family $medium-font
        text-transform uppercase

.grecaptcha-badge
    visibility hidden