.landfills-map-wrap
    position relative
    z-index 1112

    .landfills-map-close
        display none

    .landfills-map-btn
        display none
    
    &.map-open
        .landfills-map-close
            width 3.5rem
            height 3.5rem
            border-radius 50%
            background-color #525252
            top 1.5rem
            right 2rem
            transition all 0.2s linear
            display block
            position absolute
            cursor pointer
            padding .9rem
            z-index 1111

            &:hover,
            &:focus
                transform scale(1.05)

            @media(min-width $grid-sm)
                padding 1.3rem
                top 2.5rem
                right 3.3rem
                width 5rem
                height 5rem

        .landfills-map-btn
            display block
            position absolute
            bottom 0
            left 50%
            background-color: #f5821f
            color #fff
            border 0
            box-shadow none
            border-radius 0
            font-size 2.6rem
            line-height 1
            font-family 'neo_sans_pro_bold', Arial, sans-serif
            padding 2.1rem 4.5rem 2rem
            cursor pointer
            transition all 0.2s linear
            width auto
            transform translate(-50%, 50%)
            z-index 1112

            &:hover,
            &:focus
                transform translate(-50%, 50%)scale(1.05)

.map-clickable .landfills-map-btn {
    display: none !important;
}

.map-notification {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #ffffff;
    color: #5b5b5b;
    border: 0;
    -webkit-box-shadow: 0 0.8rem 1.6rem 1.2rem rgba(26,26,26,0.07);
            box-shadow: 0 0.8rem 1.6rem 1.2rem rgba(26,26,26,0.07);
    border-radius: 0;
    font-size: 2.6rem;
    line-height: 1;
    font-family: 'neo_sans_pro_bold', Arial, sans-serif;
    padding: 2.1rem 4.5rem 2rem;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: auto;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    z-index: 1112;
}
.map-clickable .map-notification {
    display: block;
}

#landfills_map
    canvas 
        filter: grayscale(1)

.landfills-map-overlay
    &.map-open
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background #000
        z-index 1111
        opacity 0.8
        overflow hidden
        cursor pointer

body.map-open
    overflow hidden

.map-balloon
    padding 2.6rem 3.5rem 2.3rem
    
    &__title
        display flex
        flex-direction column
        margin-bottom 1rem
    
        &-light
            font-family $light-font
            font-size 1.3rem
            color $primary-text-color
            line-height 1.5
        
        &-bold
            margin-top .5rem
            font-family $medium-font
            font-size 1.6rem
            color $primary-text-color
    
    &__slider
        display none
    
    a
        font-family $medium-font
        color $primary-green
        font-size 1.3rem

        .link-arrow
            size(2rem,1rem)
            margin-left 0.5rem

.landfills-popup-form
    position absolute
    top 50%
    transform translate(-50%,-50%)
    left 50%
    display none
    transition all .2s ease-in-out
    background-color $white
    box-shadow: 0 .8rem 3.6rem 2.2rem rgba(26, 26, 26, 0.07)
    padding 3rem 4rem
    z-index 1111

    &.form-active
        display inline-block

    .form
        position relative
        width 31rem

        &__title
            font-size 2.4rem
            font-family $bold-font
            text-transform uppercase
            text-align center
            margin-bottom 2rem
        
        &__group
            flex-direction column
            padding-bottom 1.5rem
        
        &__label
            margin-bottom 0.7rem
            font-size 1.3rem
            font-family $light-font
            line-height 1.3rem
        
        &__input    
            border 1px solid $primary-border-color
            color $primary-text-color
            height 3.6rem
            width 100%
        
        &__btn
            height 4rem
            font-size 1.3rem
            text-transform uppercase
            padding 0
            text-align center
            margin-top 1.5rem

            &:hover,
            &:focus
                transform: none
                box-shadow: 0 .8rem 1.6rem 1.2rem rgba(26, 26, 26, 0.07)
        
        #landfills-form-close
            position absolute
            right -2.5rem
            top -1.6rem
            size(2.2rem)
            padding 0
            border 0
            appearance none
            display flex
            align-items center
            justify-content center

            img 
                width 50%

.map-descr
    position absolute
    background-color $white
    box-shadow: 0 .8rem 1.6rem 1.2rem rgba(26, 26, 26, 0.07)
    top: 5.8rem
    left 3.3rem
    padding 3rem 4rem
    max-width 35rem
    display none

    &#map-descr
        .landfills-map-close
            position absolute
            right 1.5rem
            top 1.5rem
            size(2.2rem)
            padding 0
            text-align center
            border 0
            appearance none
            display flex
            justify-content center
            align-items center

            &__icon
                width 50%

    &__title
        font-size 2.4rem
        font-family $bold-font
        text-transform uppercase
        text-align left
        margin-bottom 1.52rem

    &__text
        font-size 1.6rem
        font-family $light-font
        line-height 1.4

        p
            margin-bottom 1rem

    &__link
        margin-top 1.5rem
        color $primary-green
        font-family $medium-font
        transition all .2s linear

        &:hover,
        &:focus
            transition all .2s linear
            text-decoration underline