.error
    margin auto
    padding 2rem
    padding-top 5rem
    padding-bottom 10rem

    &__title
        font-size 16rem
        color $white
        font-family $bold-font
        text-align center
    
    &__descr,
    &__link
        text-align center
        color $white
        font-size 1.8rem
        font-family $light-font
    
    &__link
        text-decoration underline