.dropdown-article
    padding-bottom 5rem

    @media(min-width $grid-md)
        max-width 70%
        margin 0 auto

    &__prgph
        font-size 1.7rem
        font-family $light-font
        line-height 2.4rem
        text-align center
        
        &:not(:last-child)
            margin-bottom 1rem
    
    &__visible
        margin-bottom 1rem
    
    &__wrap
        margin-bottom 2rem
    
    &__toggle
        appearance none
        border 0
        background transparent
        padding 0
        margin 0
        cursor pointer
        font-family $medium-font
        color $primary-green
        display block
        margin 0 auto
        font-size 1.8rem

        // @media(min-width $grid-sm)
        //     display inline-block
        //     margin-right auto

    &__collapsed
        display none