.opinion
    display flex
    flex-direction column
    flex-wrap wrap
    border 1px solid $primary-border-color

    &:not(:last-child)
        border-bottom 0

    &__author
        border-bottom 1px solid $primary-border-color

    &__content
        display flex
        flex-direction column
        justify-content center
        width 100%
        flex 100%
        padding 4.5rem 4rem 4rem 
    
    &__title
        color $primary-green
        font-size 2.5rem
        font-family $bold-font
        margin-bottom 1rem
    
    &__text
        font-size 1.8rem
        font-family $light-font
        color #7f7f7f
        line-height 1.444
    
    &__link
        color $primary-green
        font-family $medium-font
        font-size 1.3rem
        text-transform uppercase
        margin-top 2rem

        .link-arrow
            margin-left 2rem

@media(min-width $grid-md)
    .opinion
        flex-direction row
    
        &:nth-child(2n)
            .opinion__author
                order 2
                border-left 1px solid $primary-border-color
                border-right 0

                &:after,
                &:before
                    left -3.5rem
                    transform translateY(-50%)rotate(180deg)

                &:after
                    left -3.4rem

        &__author
            width calc(100% * (1/3)) 
            border-right 1px solid $primary-border-color
            border-bottom 0
        
            &:after,
            &:before
                content ''
                position absolute
                right -3.5rem
                top 50%
                -webkit-transform translateY(-50%)
                transform translateY(-50%)
                width 0
                height 0
                border-style solid
                border-width 3rem 0 3rem 3.5rem
                border-color transparent transparent transparent $white

            &:after
                border-color transparent transparent transparent $white
                right -3.4rem


            &:before
                border-color transparent transparent transparent $primary-border-color
        
        &__content
            width calc(100% * (2/3))
            flex 1 1 calc(98% * (2/3))
            padding 4.5rem 6rem 4rem

@media(min-width $grid-lg)
    .opinion
        &__title
            font-size 2.5rem
        
        &__text
            font-size 1.8rem

@media(min-width $grid-xl)
    .opinion
        &__content
            padding 4.5rem 8.5rem 4rem 10rem 
        
        &__title
            font-size 3.2rem
        
        &__text
            font-size 2.4rem
        
        &__link
            font-size 1.6rem