.header
    padding 2.4rem 0
    margin-bottom 8rem

    @media(min-width $grid-lg)
        margin-bottom 0

    &-wrapper
        display flex
        justify-content space-between

.header-logo
    padding 15px 0
    &__link
        size(20rem,8.4rem)
    &__icon
        max-width 100%
        

.header-socials
    display flex
    justify-content flex-end
    align-items flex-start
    flex-direction column-reverse

    & > *
        &:not(:first-child)
            margin-bottom 2.5rem

    &__list
        display flex
        justify-content flex-end
    
    &__item
        &:not(:last-child)
            padding-right 13px
            margin-right 13px
            border-right 1px solid $white

    &__link
        display flex

    &__icon
        fill $white
        size(23px,14px)

    @media(min-width $grid-lg)
        flex-direction row

        & > *
            &:not(:last-child)
                margin-right 3rem
            &:not(:first-child)
                margin-bottom 0
.header-search
    width 100%

    &__form
        width 100%
    
    &__input
        background-color transparent
        border 0
        border-bottom 1px solid $white
        font-size 1.8rem
        line-height 1
        vertical-align top
        color $white
        width calc(100% - 3.5rem)
        max-width 30rem

        &.active
            border-bottom 1px solid $white

    &__btn
        background-color transparent
        border 0
        appearance none
        margin 0
        padding 0
        vertical-align top
        cursor pointer

    &__icon
        size(23px,14px)
        vertical-align top
        fill $white
    
    @media(min-width $grid-lg)
        width auto
        
        &__input
            font-size 1.4rem
            background-color transparent
            width 0
            border-bottom 1px solid transparent

            &.active
                width 30rem

.header-main
    @media(min-width $grid-lg)
        position relative
        right 0
        display flex
        justify-content space-between
        flex-direction column

.nav
    align-items center
    display flex
    flex-wrap wrap
    justify-content flex-end
    margin-bottom 2rem
    margin-top 3.7rem

    &__item
        position relative
        margin-bottom 1rem
        transition all .2s linear
        
        &:not(:first-child)
            @media(min-width $grid-lg)
                margin-left 2rem

        &.closed
            transition all .5s ease
            .sub-menu
                max-height 1px

            @media(min-width $grid-lg)
                .sub-menu
                    transition all .2s linear
                    opacity 0
                    visibility hidden
    &__icon
        height 1.4rem
        display inline
        margin-right .5rem
        vertical-align baseline
        cursor pointer
        display none

    &__link
        font-size 1.7rem
        line-height 2.8rem
        font-family $bold-font
        color $white
        text-transform uppercase

.nav
    &__item
        &.has-sub-menu
            .nav__link
                position relative
                padding-right 1.3rem

                &:after
                    content ''
                    display block
                    position absolute
                    right 0
                    top 50%
                    transform translateY(-70%)
                    transition all .2s  linear
                    width 0
                    height 0
                    border-style solid
                    border-width 5px 3.5px 0 3.5px
                    border-color #ffffff transparent transparent transparent
            
            &.active
                .nav__link
                    &:after
                        transform translateY(-75%)rotate(-180deg)

.sub-menu
    transition all .5s ease
    max-height 300px
    overflow hidden

    @media(min-width $grid-lg)
        opacity 1
        visibility visible
        padding-top 2rem
        position absolute
        z-index 9
        left 50%
        transform translateX(-50%)
        min-width 15rem    

    &:before
        border-color transparent transparent $side-bar-bg
        border-style solid
        border-width 0 0.8rem 1rem 0.8rem
        content ''
        height 0
        left 50%
        position absolute
        top 1.1rem
        -webkit-transform translateX(-50%)
        transform translateX(-50%)
        width 0
        display none

        @media(min-width $grid-lg)
            display block
    
    &__list
        padding-top 1.9rem
        padding-bottom 1.9rem

        @media(min-width $grid-lg)
            padding 1.9rem
            background-color $side-bar-bg
    
    &__item
        padding-bottom 0.7rem
        transition all .1s linear
        
        &:not(:first-child)
            padding-top 1rem

        &:not(:last-child)
            border-bottom 1px solid #659d4e

        &:hover
            border-bottom 1px solid lighten(#659d4e,50%)
    
    &__link
        color $white
        padding-left 1px


.header-burger
    display flex
    align-items center

.side-bar-button
    display flex
    justify-content space-around
    flex-direction column
    position relative
    z-index 1000
    user-select: none

    input
        display: block;
        height: 2rem;
        width: 2.5rem;
        background-color transparent
        border none
        appearance none
        position absolute
        top 0
        left 0
        z-index: 95
        cursor pointer
        outline: none

    span 
        height 3px
        width: 4.1rem
        background-color $white
        display: block
        margin-bottom: 5px
        position: relative
        border-radius: 3px
        z-index: 1000
        transform-origin: 4px 0px
        transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
        
        @media(min-width $grid-sm)
            margin-bottom 5px      
    
    &.open
        span
            opacity: 1;
            transform: rotate(-45deg) translate(-1px, 0)
            
            &:nth-child(2)
                transform: rotate(45deg) translate(0, -1px)
                transform-origin: 4px 0px
                
                @media(min-width $grid-sm)
                    transform-origin: 5px 1px   

            &:nth-child(3)
                opacity 0
                transform: rotate(0deg) scale(0.2, 0.2)
                transition all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 

    @media(min-width $grid-lg)
        display none

#block-layer
    display none
    position fixed
    width 100%
    height 100%
    z-index 1
    left 0
    top 0

    &.open
        display block

@media(max-width $grid-md-max)
    .header-main
        display flex
        flex-direction column   
        background-color $side-bar-bg
        background-image: linear-gradient(to right top, $side-bar-bg, $side-bar-bg, $side-bar-bg, $side-bar-bg, $side-bar-bg)
        right -100%
        position fixed
        padding 10rem 11rem 12rem  
        top 0
        transition all 300ms linear
        width calc(100% * (2/3))
        z-index 999
        max-height 100vh
        overflow-y scroll

        &.open
            right 0

    .nav
        flex-direction column
        align-items flex-start
        order 1
        background-color $side-bar-bg

        &__item
            margin-left: 0rem

    
    .header-socials
        background-color $side-bar-bg
        order 3
        
        &__list
            justify-content flex-start
        
        &__item
            &:not(:last-child)
                margin-right 3rem
                padding-right 3rem

        &__icon
            size(4rem,3rem)

@media(max-width $grid-sm-max)
    .header-main
        width 100%
        padding 10rem 5rem 12rem  

@media(max-height: 690px) and (max-width $grid-sm-max)
    .header-main
        width 100%
        padding 3rem 5rem 5rem 