//- Секции
include ../sections/article-grid
include ../sections/about-slider
include ../sections/accordeon
include ../sections/block-counter
include ../sections/contacts
include ../sections/content
include ../sections/gallery
include ../sections/grid-items
include ../sections/news-feed
include ../sections/video-single

//- Блоки
include ../modules/blocks/opinions

mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)