//- Слайдер
mixin about()
    section.section.section--about-slider
        .container
            .about
                .title-block.about__title.title-block--lines
                    h2.title-block__title О проекте
                +grid-items({
                    id: 'about-slider',
                    items:[
                        {
                            icon: 'about-slider/icon-1.svg',
                            title: 'Место реализации',
                            text: 'Территория площадью 300 га близ станции «Шиес» Северной железной дороги (ближайший населенный пункт области – пос.&nbsp;Урдома Ленского района, 35&nbsp;км)'
                        }, {
                            icon: 'about-slider/icon-2.svg',
                            title: 'Сроки реализации',
                            text: 'Проектирование, строительство и&nbsp;ввод в&nbsp;эксплуатацию: с 2018 года до февраля 2020 года. Срок эксплуатации  – более 20 лет. Объем завозимых брикетов ~&nbsp;500&nbsp;тыс.&nbsp;тонн&nbsp;в&nbsp;год'
                        }, {
                            icon: 'about-slider/icon-3.svg',
                            title: 'Технология',
                            text: 'Сбор отходов, их доставка в экокластер на территории Люберецких очистных сооружениях в Москве, сортировка, измельчение, прессовка и упаковка в герметичные компактные брикеты'
                        }, {
                            icon: 'about-slider/icon-2.svg',
                            title: 'Сроки реализации',
                            text: 'Проектирование, строительство и ввод в эксплуатацию: с 2018 года до февраля 2020 года. Срок эксплуатации  – более 20 лет. Объем завозимых брикетов ~ 500 тыс. тонн в год'
                        }, {
                            icon: 'about-slider/icon-2.svg',
                            title: 'Сроки реализации',
                            text: 'Проектирование, строительство и&nbsp;ввод в&nbsp;эксплуатацию: с 2018 года до февраля 2020 года. Срок эксплуатации  – более 20 лет. Объем завозимых брикетов ~&nbsp;500&nbsp;тыс.&nbsp;тонн&nbsp;в&nbsp;год'
                        }, {
                            icon: 'about-slider/icon-3.svg',
                            title: 'Технология',
                            text: 'Сбор отходов, их доставка в экокластер на территории Люберецких очистных сооружениях в Москве, сортировка, измельчение, прессовка и упаковка в герметичные компактные брикеты'
                        }, {
                            icon: 'about-slider/icon-2.svg',
                            title: 'Сроки реализации',
                            text: 'Проектирование, строительство и ввод в эксплуатацию: с 2018 года до февраля 2020 года. Срок эксплуатации  – более 20 лет. Объем завозимых брикетов ~ 500 тыс. тонн в год'
                        }
                    ]
                })
                article.about__cnt.dropdown-article
                    .dropdown-article__wrap
                        .dropdown-article__visible
                            p.dropdown-article__prgph ЭкоТехноПарк «Шиес» - это современный кластер, который создан для возможности хранить твердые коммунальные отходы с максимальной гарантией отсутствия вреда для экологии. Это первый шаг к созданию экологичной системы обращения с отходами. 
                            p.dropdown-article__prgph ЭкоТехноПарк будет расположен на железнодорожной станции Шиес, которая находится вдалеке от жилых районов. Ближайший населенный пункт Архангельской области – пос. Урдома в 30 км от станции.
                        .dropdown-article__collapsed
                            p.dropdown-article__prgph Специалисты разработали для кластера уникальную систему брикетирования. Благодаря ей будет заметно повышена скорость и эффективность утилизации отходов, а также будет сохранена экология на всех этапах транспортировки и хранения отходов. На территории ЭкоТехноПарка «Шиес» будут предусмотрены сооружения инженерной защиты окружающей среды, в том числе комплекс очистных сооружений хозяйственно-бытовых, дождевых и производственных стоков.
                            p.dropdown-article__prgph Размещение брикетов будет происходить в ЭкоТехноПарке «Шиес» на специально оборудованных защищенных картах с соблюдением строгих экологических нормативов. 
                            p.dropdown-article__prgph Планируемое размещение ТКО до 0,5 млн/т в год.
                            p.dropdown-article__prgph Срок эксплуатации объекта – более 20 лет. 
                            p.dropdown-article__prgph Сегодня любой желающий может получить интересующую его информацию по телефону «горячей линии», которая предназначена специально для разъяснения нюансов проекта ЭкоТехноПарка «Шиес». Номер телефона: 8-800-505-29-80. Колл-центр работает круглосуточно и звонок для всех жителей РФ бесплатный. 
                    button(type="button").dropdown-article__toggle Подробнее

//- mixin slider(blockClass,slides)
//-     .slider(class=""+blockClass)
//-         .slider-wrapper#slider
//-             each slide in slides
//-                 .slide
//-                     .slide__wrapper
//-                         if slide.icon
//-                             .slide__icon-wrap
//-                                 img(src="static/images/content/about-slider/"+slide.icon, alt="Icon").slide__icon
//-                         if slide.title
//-                             h6.slide__title!=slide.title
//-                         if slide.text    
//-                             p.slide__text!=slide.text
//-         .slider-navigation
//-             .slider-navigation__prev
//-                 +icon('prev','slider-navigation__icon')
//-             .slider-navigation__next
//-                 +icon('next','slider-navigation__icon')