mixin accordeon(allLink)
    section.section.section--accordeon
        .container
            .accordeon
                .accordeon__title.title-block.title-block--lines
                    h2.title-block__title #[nobr Часто задаваемые] вопросы
                .accordeon-wrap
                    ul.accordeon-list#accordeon
                        li.accordeon-item
                            .accordeon-item__header Соответствует ли ваш проект экологическим нормам? #[span.accordeon-item__icon #[+icon('toggle-arrow','toggle-arrow')]]
                            .accordeon-item__body
                                p.accordeon-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas officiis delectus dolorem possimus totam commodi ipsum quam, corrupti repellat explicabo velit, veritatis expedita. Quaerat, vitae nihil! Enim ducimus eos culpa.
                        li.accordeon-item
                            .accordeon-item__header Как обеспечивается безопасность хранения отходов? #[span.accordeon-item__icon #[+icon('toggle-arrow','toggle-arrow')]]
                            .accordeon-item__body
                                p.accordeon-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas officiis delectus dolorem possimus totam commodi ipsum quam, corrupti repellat explicabo velit, veritatis expedita. Quaerat, vitae nihil! Enim ducimus eos culpa.
                        li.accordeon-item
                            .accordeon-item__header Как хранения отходов влияет на окружающую природу? #[span.accordeon-item__icon #[+icon('toggle-arrow','toggle-arrow')]]
                            .accordeon-item__body
                                ul
                                    li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, sed iste eum est corporis ducimus qui itaque suscipit consequuntur odit nihil laudantium et esse cum quis non, expedita, magni reprehenderit.
                                p.accordeon-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas officiis delectus dolorem possimus totam commodi ipsum quam, corrupti repellat explicabo velit, veritatis expedita. Quaerat, vitae nihil! Enim ducimus eos culpa.
                        li.accordeon-item
                            .accordeon-item__header Какие гарантии безопасности хранения отходов вы предоставляете? #[span.accordeon-item__icon #[+icon('toggle-arrow','toggle-arrow')]]
                            .accordeon-item__body
                                p.accordeon-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas officiis delectus dolorem possimus totam commodi ipsum quam, corrupti repellat explicabo velit, veritatis expedita. Quaerat, vitae nihil! Enim ducimus eos culpa.
                        li.accordeon-item
                            .accordeon-item__header Что будет с  отходами через 20 лет? #[span.accordeon-item__icon #[+icon('toggle-arrow','toggle-arrow')]]
                            .accordeon-item__body
                                p.accordeon-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas officiis delectus dolorem possimus totam commodi ipsum quam, corrupti repellat explicabo velit, veritatis expedita. Quaerat, vitae nihil! Enim ducimus eos culpa.
                if allLink
                    .section__link-wrap.accordeon__link-wrap
                        a(href="#").section__link.accordeon__link=allLink 
                            +icon('link-arrow','link-arrow')



