mixin article-cards(title)
    //- Articles
    section.section.section--articles
        .container
            if title
                .title-block.title-block--lines.articles-title
                    h2.title-block__title!=title
            .articles.grid-cards
                +article-card([
                    {
                        link: '#',
                        date: '23.06.2019',
                        title: 'Журналисты "Утра России" побывали в офисе ШИЕС',
                        preview: 'Упакованные брикеты с твердыми коммунальными отходами отправляются железнодорожным транспортом',
                        category: [{
                            link: '#',
                            anchor: 'Объявления'
                        }]
                    }, {
                        mod: '--bg-img',
                        link: '#',
                        date: '23.06.2019',
                        title: 'Выступление Элмурода Расулмухамедова',
                        cardImg: 'preview-bg1.jpg'
                    }, {
                        link: '#',
                        date: '23.06.2019',
                        title: 'Польза налицо. Почему не стоит бояться ШИЕС',
                        preview: 'Упакованные брикеты с твердыми коммунальными отходами отправляются железнодорожным транспортом',
                        category: [{
                            link: '#',
                            anchor: '',
                            icon: 'izvestia',
                            linkIcon: 'link-icon'
                        }]
                    }, {
                        mod: '--bg-img',
                        link: '#',
                        date: '23.06.2019',
                        title: 'Станцию ШИЕС покинул первый поезд со строительной техникой',
                        cardImg: 'preview-bg2.jpg'
                    }, {
                        link: '#',
                        date: '23.06.2019',
                        title: 'Дайджест материалов СМИ за 1-7 июля',
                        preview: 'Упакованные брикеты с твердыми коммунальными отходами отправляются железнодорожным транспортом',
                        category: [{
                            link: '#',
                            anchor: 'Дайджест'
                        }]
                    }, {
                        mod: '--bg-img',
                        link: '#',
                        date: '23.06.2019',
                        title: 'Внедрение суперсовременных зарубежных методик работы с отходами в регионе',
                        cardImg: 'preview-bg3.jpg'
                    }
                ])

mixin article-card(articles)
    each article in articles
        a.article.grid-card(href=article.link class="article"+article.mod)
            .article__content
                if article.date
                    span.article__date=article.date
                if article.title
                    h4.article__title=article.title
                if article.preview
                    p.article__text=article.preview
                
                if article.category
                    each category in article.category
                        .article__category.link=category.anchor
                            if category.icon    
                                .article__icons
                                    +icon(''+category.icon,'article__icon')
                                    +icon(''+category.linkIcon,'icon-link')

            if article.cardImg
                .article__bg-wrap
                    .article__bg-filter
                    img.article__bg-img(src='static/images/content/articles/'+article.cardImg, alt="Image")
//- - var articles = [{date: '23.06.2019',title: 'Журналисты "Утра России" побывали в офисе ШИЕС',preview: 'Упакованные брикеты с твердыми коммунальными отходами отправляются железнодорожным транспортом',link: 'Объявления'},{date: '23.06.2019',title: 'Выступление Элмурода Расулмухамедова'},{date: '23.06.2019',title: 'Польза налицо. Почему не стоит бояться ШИЕС',preview: 'Упакованные брикеты с твердыми коммунальными отходами отправляются железнодорожным транспортом',link: 'Объявления'}]

//- mixin article-card(article)
//-     .article.grid-card
//-         if article.date
//-             span=article.date
//-         if article.title
//-             h4=article.title
//-         if article.preview
//-             p=article.preview
//-         if article.link
//-             a(href="#")=article.link

//- for article in articles
//-     +article-card(article)