section.section.section--article-content.section--content
    .container    
        .article-content.content
            .article-content__header.content__header
                .article-content__date.content__date 23.06.2019
                h1.article-title В&nbsp;Архангельске обсудили законопроекты о&nbsp;запрете ввоза в&nbsp;Поморье отходов из&nbsp;других регионов
            .article-content__body.content__wrap.clearfix
                .article-content__img-wrap.content__img-wrap
                    img(src="static/images/content/article-cnt/cnt-img-1.jpg", alt="Content image").article-content__img.content__img
                p.article-content__paragraph.content__paragraph В&nbsp;областном Собрании депутатов состоялось заседание рабочей группы, которая рассмотрела два законопроекта о&nbsp;запрете ввоза в&nbsp;Поморье отходов из&nbsp;других регионов.
                p.article-content__paragraph.content__paragraph Между первым и&nbsp;вторым рассмотрением законопроектов, запрещающих ввоз отходов в&nbsp;Архангельскую область, прошло пять дней. Правда за&nbsp;это время корректировки документов не&nbsp;произошло. Сергей Пивков и&nbsp;Ирина Чиркова представили свои инициативы в&nbsp;первоначальной редакции. ЛДПР хочет поставить шлагбаум на&nbsp;пути отходов. Справедливая Россия готова его приподнимать, но&nbsp;только для&nbsp;вторсырья, которое может пойти в&nbsp;переработку. Оставшись на&nbsp;прежних позициях, авторы закономерно оставили на&nbsp;них и&nbsp;прокуратуру.
                p.article-content__paragraph.content__paragraph — Мы говорим о&nbsp;единстве экономического пространства, мы полагаем, что те&nbsp;запреты, которые предлагаются данными законопроектами, могут быть установлены исключительно на&nbsp;федеральном уровне, — рассказал старший помощник прокурора Архангельской области Игорь Бакин.
                p.article-content__paragraph.content__paragraph Получается, что&nbsp;даже если областное собрание пойдёт в&nbsp;обход мнения надзорных органов — рассмотрит и&nbsp;поддержит какой-либо из законопроектов — толку от&nbsp;этого, судя по&nbsp;всему, не&nbsp;будет.
                p.article-content__paragraph.content__paragraph —  В&nbsp;случае их&nbsp;принятия область превысит свои полномочия и&nbsp;любой из&nbsp;принятых законов будет опротестован прокуратурой через суд, — сказал зампредседателя Архангельского областного Собрания депутатов Игорь Чесноков.
                p.article-content__paragraph.content__paragraph Компромиссное решение озвучил корифей юриспруденции —&nbsp;Станислав Вторый. Советник спикера областного собрания предложил пересмотреть сам 89-й федеральный закон «Об отходах производства и&nbsp;потребления».
                p.article-content__paragraph.content__paragraph — Статья шестая не&nbsp;предусматривает права субъекта вводить запретительные нормы. Что в&nbsp;этой ситуации нужно сделать? Нужно как можно быстрее выйти с&nbsp;законодательной инициативой в&nbsp;госдуму и&nbsp;такую норму предусмотреть федеральным законом, — отметил советник председателя Архангельского областного собрания депутатов Станислав Вторый.
                p.article-content__paragraph.content__paragraph Рабочая группа эту позицию поддержала. Председателю областного собрания рекомендовано включить вопрос законодательной инициативы в&nbsp;повестку грядущей сессии. А&nbsp;значит рассмотрят его уже в&nbsp;четверг.