mixin block-counter(items)
    section.section.section--block-counter
        .container
            .block-counter
                .block-counter__wrap
                    each item in items
                        .block-counter__item
                            .block-counter__number!=item.number
                            .block-counter__descr!=item.descr   
                //- .video-slider-navigation
                //-     .video-slider-navigation__prev
                //-         +icon('prev','slider-navigation__icon')
                //-     .video-slider-navigation__next
                //-         +icon('next','slider-navigation__icon')  
