mixin contacts()
    section.section.section--contacts
        .contacts
            .container
                .title-block.title-block--lines.contacts-title
                    h2.title-block__title Контакты

                .contacts-cont
                    .contacts__address
                        p.contacts__address-text Россия, Архангельская область, Ленский район, станция «Шиес»
                    .contacts__phone
                        a(href="tel:88005111842").contacts__phone-number 8-800-511-18-42
                        span.contacts__phone-descr ЕДИНЫЙ НОМЕР ИНФОРМАЦИОННОГО ЦЕНТРА 
                        span.contacts__phone-free Бесплатный звонок со всех номеров РФ
                    
                    a(href="mailto:info@shies.ru").contacts__email info@shies.ru
            .contacts-map(style="background-image: url('static/images/content/contacts/map.jpg')")