mixin content({title,image,slider,text})
    section.section.section--content
        .container
            .content
                if title
                    .title-block.title-block--lines
                        h2.title-block__title=title
                .content__wrap.clearfix
                    if image
                        .content__img-wrap
                            img(src="static/images/content/article-cnt/"+image, alt="Content image").content__img
                    if slider
                        .content__slider-wrap
                            .content__slider.content-slider#content-slider
                                each slides in slider
                                    .content-slider__slide
                                        img(src="static/images/content/article-cnt/"+slides, alt="Content image").content-slider__img
                            //- .content-slider-navigation
                            //-     .content-slider-navigation__prev.content-slider-navigation__arrow
                            //-         +icon('prev','slider-navigation__icon')
                            //-     .content-slider-navigation__next.content-slider-navigation__arrow
                            //-         +icon('next','slider-navigation__icon')
                    if text
                        each paragraph in text
                            p.content__paragraph=paragraph