section.section.section--eco-security
    .container
        .eco-security
            .title-block.title-block--lines
                h2.title-block__title ЭКОЛОГИЧЕСКАЯ БЕЗОПАСНОСТЬ
            +grid-items({
                id: 'eco-security',
                items:[{
                    icon: 'about-project/eco-sec-1.svg',
                    title: 'Атмосферный воздух',
                    text: 'Натурное исследование атмосферного воздуха предусматривает ежеквартальный контроль состояния воздушной среды на четырёх постах наблюдения'
                }, {
                    icon: 'about-project/eco-sec-2.svg',
                    title: 'Подземные воды',
                    text: 'Опробование проводится из контрольных наблюдательных скважин, заложенных выше и ниже по потоку грунтовых вод. Отбор проб предусматривается из трёх мониторинговых скважин и одной фоновой скважины'
                }, {
                    icon: 'about-project/eco-sec-3.svg',
                    title: 'Поверхностные воды',
                    text: 'Мониторинг проводится на всех крупных водотоках шириной около 10 метров и более, а также других водотоках, имеющих важное рыбохозяйственное значение'
                }, {
                    icon: 'about-project/eco-sec-4.svg',
                    title: 'Почвенный покров',
                    text: 'Геохимические пробы проводят в пределах объекта вдоль линии ландшафтно-геохимического профиля, на пяти пробных площадках размером 10х10 м'
                }, {
                    icon: 'about-project/eco-sec-5.svg',
                    title: 'Охрана земель',
                    text: 'Мониторинг предусматривает наблюдение за состоянием растительности на содержание экзогенных химических веществ (ЭХВ). Отбор проб осуществляется один раз в год на посту наблюдения'
                }, {
                    icon: 'about-project/eco-sec-6.svg',
                    title: 'Акустическое воздействие',
                    text: 'В рамках мониторинга уровня шумового воздействия планируется ежеквартальный контроль уровней шума в контрольных точках на границе санитарно-защитной зоны в западном, южном, северном и восточном направлениях.'
                }]
            })