//- Слайдер
mixin gallery()
    section.section.section--gallery
        .container
            .gallery
                .title-block.gallery__title.title-block--lines
                    h2.title-block__title Галерея
                .gallery-list
                    +gallery-list({
                        
                    })

mixin gallery-list
    .gallery-item
        a.gallery-item__preview(href="#gallery-popup-slider-1")
            img(src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822275-1920-1080.jpg", alt="preview-1")
            .gallery-item__icon
                img(src="static/images/content/gallery/icon-plus.svg", alt="Увеличить")
        .gallery-item__descr ИНФОЦЕНТР ЭКОТЕХНОПАРКА
        
        #gallery-popup-slider-1.mfp-hide
            .container
                .swiper-container.gallery-top
                    .swiper-wrapper.gallery-top__wrapper
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        
                    
                    <!-- Add Arrows -->
                    .swiper-button-next.swiper-button-white
                    .swiper-button-prev.swiper-button-white
                
                .swiper-container.gallery-thumbs
                    .swiper-wrapper.gallery-thumbs__wrapper
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                        

    .gallery-item
        a.gallery-item__preview(href="#gallery-popup-slider-2")
            img(src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822317-1920-1080.jpg", alt="preview-2")
            .gallery-item__icon
                img(src="static/images/content/gallery/icon-plus.svg", alt="Увеличить")
        .gallery-item__descr ИНФОЦЕНТР ЭКОТЕХНОПАРКА
        
        #gallery-popup-slider-2.mfp-hide
            .container
                .swiper-container.gallery-top
                    .swiper-wrapper.gallery-top__wrapper
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                    
                    <!-- Add Arrows -->
                    .swiper-button-next.swiper-button-white
                    .swiper-button-prev.swiper-button-white
                
                .swiper-container.gallery-thumbs
                    .swiper-wrapper.gallery-thumbs__wrapper
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
    .gallery-item
        a.gallery-item__preview(href="#gallery-popup-slider-3")
            img(src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822402-1920-1080.jpg", alt="preview-3")
            .gallery-item__icon
                img(src="static/images/content/gallery/icon-plus.svg", alt="Увеличить")
        .gallery-item__descr СТОЛИЧНЫЕ КАНИКУЛЫ ДЕТЕЙ ИЗ ПОМОРЬЯ  
        
        #gallery-popup-slider-3.mfp-hide
            .container
                .swiper-container.gallery-top
                    .swiper-wrapper.gallery-top__wrapper
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                    
                    <!-- Add Arrows -->
                    .swiper-button-next.swiper-button-white
                    .swiper-button-prev.swiper-button-white
                
                .swiper-container.gallery-thumbs
                    .swiper-wrapper.gallery-thumbs__wrapper
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
    .gallery-item
        a.gallery-item__preview(href="#gallery-popup-slider-4")
            img(src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822475-1920-1080.jpg", alt="preview-4")
            .gallery-item__icon
                img(src="static/images/content/gallery/icon-plus.svg", alt="Увеличить")
        .gallery-item__descr СТОЛИЧНЫЕ КАНИКУЛЫ ДЕТЕЙ ИЗ ПОМОРЬЯ
        
        #gallery-popup-slider-4.mfp-hide
            .container
                .swiper-container.gallery-top
                    .swiper-wrapper.gallery-top__wrapper
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                    
                    <!-- Add Arrows -->
                    .swiper-button-next.swiper-button-white
                    .swiper-button-prev.swiper-button-white
                
                .swiper-container.gallery-thumbs
                    .swiper-wrapper.gallery-thumbs__wrapper
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
    .gallery-item
        a.gallery-item__preview(href="#gallery-popup-slider-5")
            img(src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822501-1920-1080.jpg", alt="preview-5")
            .gallery-item__icon
                img(src="static/images/content/gallery/icon-plus.svg", alt="Увеличить")
        .gallery-item__descr СТОЛИЧНЫЕ КАНИКУЛЫ ДЕТЕЙ ИЗ ПОМОРЬЯ
        
        #gallery-popup-slider-5.mfp-hide
            .container
                .swiper-container.gallery-top
                    .swiper-wrapper.gallery-top__wrapper
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                    
                    <!-- Add Arrows -->
                    .swiper-button-next.swiper-button-white
                    .swiper-button-prev.swiper-button-white
                
                .swiper-container.gallery-thumbs
                    .swiper-wrapper.gallery-thumbs__wrapper
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
   
    .gallery-item
        a.gallery-item__preview(href="#gallery-popup-slider-6")
            img(src="static/images/content/gallery/school.jpg", alt="preview-6")
            .gallery-item__icon
                img(src="static/images/content/gallery/icon-plus.svg", alt="Увеличить")
        .gallery-item__descr СТОЛИЧНЫЕ КАНИКУЛЫ ДЕТЕЙ ИЗ ПОМОРЬЯ
        
        #gallery-popup-slider-6.mfp-hide
            .container
                .swiper-container.gallery-top
                    .swiper-wrapper.gallery-top__wrapper
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                    
                    <!-- Add Arrows -->
                    .swiper-button-next.swiper-button-white
                    .swiper-button-prev.swiper-button-white
                
                .swiper-container.gallery-thumbs
                    .swiper-wrapper.gallery-thumbs__wrapper
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
        
    .gallery-item
        a.gallery-item__preview(href="#gallery-popup-slider-7")
            img(src="static/images/content/gallery/school.jpg", alt="preview-7")
            .gallery-item__icon
                img(src="static/images/content/gallery/icon-plus.svg", alt="Увеличить")
        .gallery-item__descr СТОЛИЧНЫЕ КАНИКУЛЫ ДЕТЕЙ ИЗ ПОМОРЬЯ

        #gallery-popup-slider-7.mfp-hide
            .container
                .swiper-container.gallery-top
                    .swiper-wrapper.gallery-top__wrapper
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                        .swiper-slide.gallery-top__slide
                            img.lazyload.gallery-top__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")
                            .slide-descr Описание изображения
                    
                    <!-- Add Arrows -->
                    .swiper-button-next.swiper-button-white
                    .swiper-button-prev.swiper-button-white
                
                .swiper-container.gallery-thumbs
                    .swiper-wrapper.gallery-thumbs__wrapper
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822630-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822636-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822666-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822672-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822678-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822687-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822691-1920-1080.jpg", alt="slide")
                        .swiper-slide.gallery-thumbs__slide
                            img.lazyload.gallery-thumbs__image(src="static/images/content/gallery/lqip-src.jpg" data-src="static/images/content/gallery/Nature-Full-HD-Wallpaper-national-geographic-7822698-1920-1080.jpg", alt="slide")