mixin grid-items({id,items})
    .grid-items(id=id)
        if items
            each item in items
                .grid-item
                    .grid-item__wrapper
                        .grid-item__icon-wrap
                            img(src="static/images/content/"+item.icon, alt="Icon").grid-item__icon
                        h6.grid-item__title!=item.title
                        p.grid-item__text!=item.text                      
