section.section.section--grid-slider
    .container
        .grid-slider#grid-slider
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
            .grid-slider__item
                .grid-slider__img-wrap
                    img(src="static/images/content/grid-slider/img-1.jpg", alt="slide").grid-slider__img
