.intro.intro--small
    <svg class="intro__border-img" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1246.79 26.36">
        <title>Ресурс 1</title>
        <g style="isolation: isolate">
            <g>
            <g style="mix-blend-mode: multiply">
                <path d="M694.32,26.36c11.73,0,12.22-3,1.07-6.68L644.94,3C633.79-.63,615.55-.63,604.41,3L554,19.68c-11.15,3.67-29.39,3.67-40.54,0L463,3C451.83-.63,433.59-.63,422.44,3L372,19.68c-11.15,3.67-29.39,3.67-40.53,0L281,3C269.86-.63,251.62-.63,240.47,3L190,19.68c-11.14,3.67-29.38,3.67-40.53,0L99,3C87.89-.63,69.65-.63,58.51,3L8.05,19.68c-11.14,3.67-10.66,6.68,1.08,6.68Z" style="fill: #fff"/>
            </g>
            <g style="mix-blend-mode: multiply">
                <path d="M1237.66,26.07c11.74,0,12.22-3,1.07-6.68L1188.28,2.76c-11.14-3.68-29.38-3.68-40.53,0L1097.3,19.39c-11.15,3.68-29.39,3.68-40.53,0L1006.32,2.76c-11.15-3.68-29.39-3.68-40.54,0L915.33,19.39c-11.14,3.68-29.38,3.68-40.53,0L824.35,2.76C813.2-.92,795-.92,783.82,2.76L733.36,19.39c-11.14,3.68-29.38,3.68-40.53,0L642.38,2.76C631.23-.92,613-.92,601.85,2.76L551.4,19.39c-11.15,3.68-10.67,6.68,1.07,6.68Z" style="fill: #fff"/>
            </g>
            </g>
        </g>
    </svg>
