.intro.intro--main
    img(src="static/images/content/intros/index-intro.jpg", alt="Intro").intro__img
    <svg class="intro__border-img" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 703.45 26.07">
        <title>Ресурс 1</title>
        <g style="isolation: isolate">
            <g style="mix-blend-mode: multiply">
            <path d="M694.32,26.07c11.73,0,12.22-3,1.07-6.68L644.94,2.76c-11.15-3.68-29.39-3.68-40.53,0L554,19.39c-11.15,3.68-29.39,3.68-40.54,0L463,2.76c-11.14-3.68-29.38-3.68-40.53,0L372,19.39c-11.15,3.68-29.39,3.68-40.53,0L281,2.76c-11.15-3.68-29.39-3.68-40.54,0L190,19.39c-11.14,3.68-29.38,3.68-40.53,0L99,2.76C87.89-.92,69.65-.92,58.51,2.76L8.05,19.39c-11.14,3.68-10.66,6.68,1.08,6.68Z"/>
            </g>
        </g>
    </svg>