section.section.section--main-parameters
    .container
        .eco-security
            .title-block.title-block--lines
                h2.title-block__title основные параметры проекта
            +grid-items({
                id: 'main-parameters',   
                items:[{
                        icon: 'about-project/parameter-1.svg',
                        title: 'Основные параметры проекта',
                        text: 'Натурное исследование атмосферного воздуха предусматривает ежеквартальный контроль состояния воздушной среды на четырёх постах наблюдения'
                    }, {
                        icon: 'about-project/parameter-2.svg',
                        title: 'Сроки реализации',
                        text: 'Опробование проводится из контрольных наблюдательных скважин, заложенных выше и ниже по потоку грунтовых вод. Отбор проб предусматривается из трёх мониторинговых скважин и одной фоновой скважины'
                    }, {
                        icon: 'about-project/parameter-3.svg',
                        title: 'Технология',
                        text: 'Мониторинг проводится на всех крупных водотоках шириной около 10 метров и более, а также других водотоках, имеющих важное рыбохозяйственное значение'
                    }, {
                        icon: 'about-project/parameter-4.svg',
                        title: 'Погрузка и вывоз',
                        text: 'Геохимические пробы проводят в пределах объекта вдоль линии ландшафтно-геохимического профиля, на пяти пробных площадках размером 10х10 м'
                    }, {
                        icon: 'about-project/parameter-5.svg',
                        title: 'Выгрузка и размещение',
                        text: 'Мониторинг предусматривает наблюдение за состоянием растительности на содержание экзогенных химических веществ (ЭХВ). Отбор проб осуществляется один раз в год на посту наблюдения'
                    }, {
                        icon: 'about-project/parameter-6.svg',
                        title: 'Рекультивация территории',
                        text: 'В рамках мониторинга уровня шумового воздействия планируется ежеквартальный контроль уровней шума в контрольных точках на границе санитарно-защитной зоны в западном, южном, северном и восточном направлениях.'
                }]
            })