mixin news()
    section.section.section--news-feed
        .container
            .news-feed
                .news
                    .title-block.title-block--lines.news-title
                        h2.title-block__title НОВОСТИ
                    .news-filter
                        ul.news-filter__list
                            li.news-filter__item
                                a(href="#").news-filter__link.active-link Все
                            li.news-filter__item
                                a(href="#").news-filter__link Пресс-релизы
                            li.news-filter__item
                                a(href="#").news-filter__link Объявления
                    .news-articles
                        +news-article([{
                            link: '#',
                            img: 'news-img-1.jpg',
                            date: '23.06.2019',
                            categoryLink: '#',
                            categoryAnchor: 'Пресс-релизы',
                            title: 'Станцию ШИЕС покинул первый поезд со строительной техникой',
                            descr: 'Как подтвердил представитель инвестора: «В соответствии с&nbsp;действующим законодательством РФ сначала необходимо пройти общественные'
                        }, {
                            link: '#',
                            icon: 'izvestia.svg',
                            date: '23.06.2019',
                            categoryLink: '#',
                            categoryAnchor: 'Пресс-релизы',
                            title: 'Выступление Элмурода Расулмухамедова',
                            descr: 'Как подтвердил представитель инвестора: «В соответствии с&nbsp;действующим законодательством РФ сначала необходимо пройти общественные'
                        }, {
                            link: '#',
                            img: 'news-img-3.jpg',
                            date: '23.06.2019',
                            categoryLink: '#',
                            categoryAnchor: 'Пресс-релизы',
                            title: 'Внедрение суперсовременных зарубежные методик работы с отходами в регионе',
                            descr: 'Как подтвердил представитель инвестора: «В соответствии с&nbsp;действующим законодательством РФ сначала необходимо пройти общественные'
                        }, {
                            link: '#',
                            img: 'news-img-4.jpg',
                            date: '23.06.2019',
                            categoryLink: '#',
                            categoryAnchor: 'ОБЪЯВЛЕНИЯ',
                            title: 'Станцию ШИЕС покинул первый поезд со строительной техникой',
                            descr: 'Как подтвердил представитель инвестора: «В соответствии с&nbsp;действующим законодательством РФ сначала необходимо пройти общественные'
                        }, {
                            link: '#',
                            icon: 'shies-icon.svg',
                            date: '23.06.2019',
                            categoryLink: '#',
                            categoryAnchor: 'Пресс-релизы',
                            title: 'Выступление Элмурода Расулмухамедова',
                            descr: 'Как подтвердил представитель инвестора: «В соответствии с&nbsp;действующим законодательством РФ сначала необходимо пройти общественные'
                        }])

                .media
                    .title-block.title-block--lines.news-title
                        h2.title-block__title СМИ О НАС
                    .media-articles
                        +media-article([{
                                link: '#',
                                date: '23.06.2019',
                                title: 'Польза налицо. Почему не стоит бояться ШИЕС',
                                preview: 'Упакованные брикеты с твердыми коммунальными отходами отправляются железнодорожным транспортом',
                                category: [{
                                    link: '#',
                                    anchor: '',
                                    icon: 'izvestia',
                                    linkIcon: 'link-icon'
                                }]
                            }, {
                                link: '#',
                                date: '23.06.2019',
                                title: 'Журналисты "Утра России" побывали в офисе ШИЕС',
                                preview: 'Упакованные брикеты с твердыми коммунальными отходами отправляются железнодорожным транспортом',
                                category: [{
                                    link: '#',
                                    anchor: 'РИА Новости',
                                    icon: '',
                                    linkIcon: 'link-icon'
                                }]
                            }, {
                                link: '#',
                                date: '23.06.2019',
                                title: 'Польза налицо. Почему не стоит бояться ШИЕС',
                                preview: 'Упакованные брикеты с твердыми коммунальными отходами отправляются железнодорожным транспортом',
                                category: [{
                                    link: '#',
                                    anchor: '',
                                    icon: 'izvestia',
                                    linkIcon: 'link-icon'
                                }]
                            }, {
                                link: '#',
                                date: '23.06.2019',
                                title: 'Журналисты "Утра России" побывали в офисе ШИЕС',
                                preview: 'Упакованные брикеты с твердыми коммунальными отходами отправляются железнодорожным транспортом',
                                category: [{
                                    link: '#',
                                    anchor: 'РИА Новости',
                                    icon: '',
                                    linkIcon: 'link-icon'
                                }]
                            }
                        ])
                ul.news-feed__pagination.pagination
                    li.pagination__item
                        a(href="#").pagination__link.active-link 1
                    li.pagination__item
                        a(href="#").pagination__link 2
                    li.pagination__item
                        a(href="#").pagination__link 3
                    li.pagination__item
                        a(href="#").pagination__link 4
                    li.pagination__item
                        a(href="#").pagination__link 5

mixin news-article(articles)
    each article in articles
        .news-article
            .news-article__preview
                a(href=article.link).news-article__preview-link
                    if article.img
                        img(src='static/images/content/news-feed/'+article.img, alt="Article preview").news-article__preview-img
                    if article.icon
                        img(src='static/images/content/news-feed/'+article.icon, alt="Article preview").news-article__preview-icon
            .news-article__content
                .news-article__header
                    time.news-article__header-item.news-article__date!=article.date
                    span.news-article__header-item
                        a.news-article__category(href=article.categoryLink)=article.categoryAnchor
                h2.news-article__title
                    a(href=article.link).news-article__title-link!=article.title
                p.news-article__descr!=article.descr

mixin media-article(articles)
    each article in articles
        .article.grid-card.article--media
            .article__content
                if article.date
                    span.article__date=article.date
                if article.title
                    h4.article__title
                        a.article__title-link(href=article.link)=article.title
                if article.preview
                    p.article__text=article.preview
                
                if article.category
                    each category in article.category
                        a(href=article.link).article__category
                            span.article__link=category.anchor
                                if category.icon    
                                    +icon(''+category.icon,'article__icon')
                            span.article__link-icon
                                if category.linkIcon    
                                    +icon(''+category.linkIcon,'icon-link')
