section.section.section--opinion-list
    .container
        .title-block.title-block--lines
            h2.title-block__title Экспертное мнение
        .opinion-list
            +opinions([{
                photo: 'opinion-autor-1.png',
                name: 'АЛЕКСАНДР ГОРНИХ',
                post: 'Руководитель управления Росприроднадзора по Архангельской области',
                title: 'Название мнения',
                text: 'Федеральный закон предусматривает достаточно строгие, даже жёсткие требования к новым организуемым объектам размещения отходов. При этом, прежде чем заняться строительством соответствующих объектов&nbsp;–&nbsp;а&nbsp;на&nbsp;сегодняшний день объект не строится, строится линия железной дороги,  – необходимо подготовить проектную документацию, гидрогеологические изыскания.',
                link: 'Подробнее'
            }, {
                photo: 'opinion-man.svg',
                name: 'АЛЕКСАНДР ГОРНИХ',
                post: 'Руководитель управления Росприроднадзора по Архангельской области',
                title: 'Название мнения',
                text: 'Федеральный закон предусматривает достаточно строгие, даже жёсткие требования к новым организуемым объектам размещения отходов.',
                link: 'Подробнее'
            }, {
                photo: 'opinion-woman.svg',
                name: 'АЛЕКСАНДРА ИВАНОВА',
                post: 'Руководитель управления Росприроднадзора по Архангельской области',
                title: 'Название мнения',
                text: 'Федеральный закон предусматривает достаточно строгие, даже жёсткие требования к новым организуемым объектам размещения отходов. При этом, прежде чем заняться строительством соответствующих объектов&nbsp;–&nbsp;а&nbsp;на&nbsp;сегодняшний день объект не строится, строится линия железной дороги,  – необходимо подготовить проектную документацию, гидрогеологические изыскания.',
                link: 'Подробнее'
            }, {
                photo: 'opinion-autor-1.png',
                name: 'АЛЕКСАНДР ГОРНИХ',
                post: 'Руководитель управления Росприроднадзора по Архангельской области',
                title: 'Название мнения',
                text: 'Федеральный закон предусматривает достаточно строгие, даже жёсткие требования к новым организуемым объектам размещения отходов.',
                link: 'Подробнее'
            }])
        .section__link-wrap
            a(href="#").section__link Ещё мнения