section.section.section--partners
    .container
        .partners
            .partners__col
                .title-block
                    h2.title-block__title Участники проекта
                .partners__wrapper
                    .partners__item
                        img.partners__icon(src="static/images/content/partners/partner-1.png", alt="Правительство Москвы")
                    .partners__item
                        img.partners__icon(src="static/images/content/partners/partner-2.png", alt="Правительство Архангельской области")

            .partners__col
                .title-block
                    h2.title-block__title Партнеры проекта
                .partners__wrapper
                    .partners__item
                        img.partners__icon(src="static/images/content/partners/flexus-icon.png", alt="Flexus")
                    .partners__item
                        img.partners__icon(src="static/images/content/partners/eurec.png", alt="Eurec")

