//- Пост - Экспертное мнение
section.section.section--post
    .container
        .title-block
            h2.title-block__title Экспертное мнение
        
        .opinion-list
            +opinions([{
                photo: 'opinion-autor-1.png',
                name: 'АЛЕКСАНДР ГОРНИХ',
                post: 'Руководитель управления Росприроднадзора по Архангельской области',
                text: 'Федеральный закон предусматривает достаточно строгие, даже жёсткие требования к новым организуемым объектам размещения отходов. При этом, прежде чем заняться строительством соответствующих объектов&nbsp;–&nbsp;а&nbsp;на&nbsp;сегодняшний день объект не строится, строится линия железной дороги,  – необходимо подготовить проектную документацию, гидрогеологические изыскания.'
            }])
        //- .post 
        //-     .post__autor.autor
        //-         .autor__photo
        //-             img(src="static/images/content/post/autor-1.png", alt="Photo")
        //-         .autor__name АЛЕКСАНДР ГОРНИХ
        //-         .autor__post Руководитель управления Росприроднадзора по Архангельской области
            
        //-     .post__content
        //-         p.post__content-text Федеральный закон предусматривает достаточно строгие, даже жёсткие требования к новым организуемым объектам размещения отходов. При этом, прежде чем заняться строительством соответствующих объектов – а на сегодняшний день объект не строится, строится линия железной дороги,  – необходимо подготовить проектную документацию, сделать соответствующие гидрогеологические изыскания.