section.section.section--result
    .container
        .result
            .title-block.title-block--lines.result__title
                h2.title-block__title Результаты поиска
            ul.result__list
                li.result__item
                    time.result__item-date(datetime="2019-06-23") 23.06.2019
                    h2.result__item-header 
                        a(href="#").result__item-link Название мнения
                    p.result__item-text Федеральный закон предусматривает достаточно  строгие, даже жёсткие требования к новым организуемым объектам размещения отходов. 
                li.result__item
                    h2.result__item-header 
                        a(href="#").result__item-link Название мнения
                    p.result__item-text Федеральный закон предусматривает достаточно  строгие, даже жёсткие требования к новым организуемым объектам размещения отходов. 
                li.result__item
                    time.result__item-date(datetime="2019-06-23") 23.06.2019
                    h2.result__item-header 
                        a(href="#").result__item-link Название мнения
                    p.result__item-text Федеральный закон предусматривает достаточно  строгие, даже жёсткие требования к новым организуемым объектам размещения отходов. 
                li.result__item
                    h2.result__item-header 
                        a(href="#").result__item-link Название мнения
                    p.result__item-text Федеральный закон предусматривает достаточно  строгие, даже жёсткие требования к новым организуемым объектам размещения отходов. 
            
            ul.pagination
                li.pagination__item
                    a(href="#").pagination__link.active-link 1
                li.pagination__item
                    a(href="#").pagination__link 2
                li.pagination__item
                    a(href="#").pagination__link 3
                li.pagination__item
                    a(href="#").pagination__link 4
                li.pagination__item
                    a(href="#").pagination__link 5
            //- .load-more.result__more
            //-     input(type="submit" value="Загрузить ещё").load-more__input
