section.section.section--single-opinion
    .container
        .title-block.title-block--lines
            h2.title-block__title НАЗВАНИЕ МНЕНИЯ
        .single-opinion.content.clearfix
            .single-opinion__author.author
                .author__photo
                    img(src="static/images/content/post/autor-1.png", alt="Photo")
                .author__name АЛЕКСАНДР ГОРНИХ
                .author__post Руководитель управления Росприроднадзора по Архангельской области
            p.content__paragraph.single-opinion__paragraph Поморье выявлено 312 несанкционированных свалок, а 22 официально функционирующих полигона эксплуатируются с нарушениями. Специалисты подсчитали, что 88 несанкционированных мусорных свалок Поморья находятся на территориях лесного фонда. 47 – в границах населенных пунктов, 60 – на землях сельхозназначения. 117 свалок располагаются на территориях предприятий и промышленных зон. Но и легальные полигоны не отвечают нынешним экологическим нормам, поэтому их необходимо рекультивировать. Согласно законодательству, свалки в муниципалитетах должны ликвидировать местные власти. Рекультивация одной свалки обходится в несколько сотен миллионов, а свалок в каждом районе – от 4-х до 30-ти. С введением новой системы по обращению с ТКО полномочия по ликвидации несанкционированных свалок станут обязанностью регионального оператора.
            p.content__paragraph.single-opinion__paragraph Поморье выявлено 312 несанкционированных свалок, а 22 официально функционирующих полигона эксплуатируются с нарушениями. Специалисты подсчитали, что 88 несанкционированных мусорных свалок Поморья находятся на территориях лесного фонда. 47 – в границах населенных пунктов, 60 – на землях сельхозназначения. 117 свалок располагаются на территориях предприятий и промышленных зон. Но и легальные полигоны не отвечают нынешним экологическим нормам, поэтому их необходимо рекультивировать.


