section.section.section--ducuments
    .container
        .title-block.title-block--lines
            h1.title-block__title ДОКУМЕНТЫ
        .ducuments
            ul.ducuments-list
                li.ducuments-list__item
                    img.ducuments-list__icon(src="static/images/content/documents/icon-1.svg", alt="icon")
                    h2.ducuments-list__header Об организации 
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Информационный буклет Информационная брошюра
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Разрешение на вырубку № 58 от 29.09.18
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Разрешение на вырубку № 55 от 21.09.18
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Лесная декларация ШИЕС 15 ГА

            ul.ducuments-list
                li.ducuments-list__item
                    img.ducuments-list__icon(src="static/images/content/documents/icon-2.svg", alt="icon")
                    h2.ducuments-list__header Отчетность
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Договор БП №2222 от 10-09-2018 Шиес 15 га
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Договор аренды (Шиес) Росимущество Архангельской обл и Ненецкого АО с РЖД га
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Договор аренды на 300Га Мин прир рес-сов № 2325 от 16.05.19 га
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Договор с Мин прир рес-ов АО № 2308 от 03.04.19_аренда лесн.участка
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Договор субаренды 44 Га ЦРИ04СА53081800921 от 04.07.2018 г РЖД — ГБУ Автомобильные дороги
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Трехстороннее доп. согл. № 2 к Договору субаренды с РЖД
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Уведомление РЖД НРИ-4 518 от 04.09.2018 в МТУ Росимущества о субаренде с ГБУ Автомобильные дороги
            
            ul.ducuments-list
                li.ducuments-list__item
                    img.ducuments-list__icon(src="static/images/content/documents/icon-1.svg", alt="icon")
                    h2.ducuments-list__header Исследования
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Постановление Гостройнадзор о прекращении производства по делу об АП от 02.04.2019 № К1
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Постановление Минприроды Арханегльской области № 7 от 07.05.2019 о прекращении производства по делу об административном правонарушении
                li.ducuments-list__item
                    a(href="#").ducuments-list__link Решение от 15.03.2019 по заявлению Ростехнадзора