section.section.section--opinion-slider
    .container
        .title-block.title-block--lines
            h2.title-block__title ПОХОЖИЕ МНЕНИЯ
        .opinion-slider
            .grid-items#opinion-slider
                .grid-item.opinion-slide
                    a(href="#").author
                        .author__photo
                            img(src="static/images/content/post/autor-1.png", alt="Photo")
                        .author__name АЛЕКСАНДР ГОРНИХ
                        .author__post Руководитель управления Росприроднадзора по Архангельской области
                .grid-item.opinion-slide
                    a(href="#").author
                        .author__photo
                            img(src="static/images/content/post/autor-1.png", alt="Photo")
                        .author__name АЛЕКСАНДР ГОРНИХ
                        .author__post Руководитель управления Росприроднадзора по Архангельской области
                .grid-item.opinion-slide
                    a(href="#").author
                        .author__photo
                            img(src="static/images/content/post/autor-1.png", alt="Photo")
                        .author__name АЛЕКСАНДР ГОРНИХ
                        .author__post Руководитель управления Росприроднадзора по Архангельской области
                .grid-item.opinion-slide
                    a(href="#").author
                        .author__photo
                            img(src="static/images/content/post/autor-1.png", alt="Photo")
                        .author__name АЛЕКСАНДР ГОРНИХ
                        .author__post Руководитель управления Росприроднадзора по Архангельской области