section.section.section--videos-fluid
    .container-fluid
        .grid-fluid
            .grid-fluid__title.title-block
                h2.title-block__title YOUTUBE-КАНАЛ
            .grid-fluid__items#videos-fluid
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-1.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__hidden
                        h5.grid-fluid__title ЗАРУБЕЖНЫЕ ПАРТНЕРЫ ПРОЕКТА «ШИЕС»
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-2.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__hidden
                        h5.grid-fluid__title ЗАРУБЕЖНЫЕ ПАРТНЕРЫ ПРОЕКТА «ШИЕС»
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-3.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__hidden
                        h5.grid-fluid__title ЗАРУБЕЖНЫЕ ПАРТНЕРЫ ПРОЕКТА «ШИЕС»
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-4.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__hidden
                        h5.grid-fluid__title ЗАРУБЕЖНЫЕ ПАРТНЕРЫ ПРОЕКТА «ШИЕС»
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-5.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__hidden
                        h5.grid-fluid__title ЗАРУБЕЖНЫЕ ПАРТНЕРЫ ПРОЕКТА «ШИЕС»
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-6.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__hidden
                        h5.grid-fluid__title ЗАРУБЕЖНЫЕ ПАРТНЕРЫ ПРОЕКТА «ШИЕС»
            //- .video-slider-navigation
            //-     .video-slider-navigation__prev
            //-         +icon('prev','slider-navigation__icon')
            //-     .video-slider-navigation__next
            //-         +icon('next','slider-navigation__icon')
            .section__link-wrap.grid-fluid__link-wrap
                a(href="#").section__link.grid-fluid__link Все видео #[+icon('link-arrow','link-arrow')]