//- Videos
section.section.section--videos#online-translation
    .container
        .title-block
            h2.title-block__title Видео
        .videos
            a(href="https://www.youtube.com/watch?v=0zv-UDPSFHY").video-preview#video-about
                .video-preview__img-wrap
                    img(src="static/images/content/videos/video-preview1.jpg", alt="Preview").video__img
                .video-preview__title О проекте
                button.video-preview__btn 
                    img(src="static/images/general/play-icon.svg", alt="Play").video-preview__icon
            a(href="https://www.youtube.com/watch?v=0zv-UDPSFHY").video-preview#video-process
                .video-preview__img-wrap
                    img(src="static/images/content/videos/video-preview2.jpg", alt="Preview").video__img
                .video-preview__title Процесс
                button.video-preview__btn 
                    img(src="static/images/general/play-icon.svg", alt="Play").video-preview__icon
            a(href="https://www.youtube.com/watch?v=0zv-UDPSFHY").video-preview#video-camera1
                .video-preview__img-wrap
                    img(src="static/images/content/videos/video-preview3.jpg", alt="Preview").video__img
                .video-preview__title Камера 1
                button.video-preview__btn 
                    img(src="static/images/general/play-icon.svg", alt="Play").video-preview__icon
            a(href="https://www.youtube.com/watch?v=0zv-UDPSFHY").video-preview#video-camera2
                .video-preview__img-wrap
                    img(src="static/images/content/videos/video-preview4.jpg", alt="Preview").video__img
                .video-preview__title Камера 2
                button.video-preview__btn 
                    img(src="static/images/general/play-icon.svg", alt="Play").video-preview__icon