mixin video()
    section.section.section--video
        .video
            a(href="https://youtu.be/7qBfdcI-d1Q").video__link
                picture
                    img(src="https://i.ytimg.com/vi/7qBfdcI-d1Q/maxresdefault.jpg", alt="Озеро").video__media
            button.video__button(type="button" aria-label="Запустить видео")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.82 47.98"><title>Ресурс 1</title><g style="isolation:isolate"><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><circle cx="22.01" cy="26.72" r="13.12" transform="translate(-9.05 42.01) rotate(-76.72)" style="fill:#5b9146;mix-blend-mode:multiply"/><circle cx="14.5" cy="14.5" r="14.5" transform="translate(-2.94 25.28) rotate(-76.72)" style="fill:#89bd5e;mix-blend-mode:multiply"/><circle cx="21.26" cy="26.72" r="21.26" transform="translate(-9.63 41.27) rotate(-76.72)" style="fill:#db812d;mix-blend-mode:multiply"/><circle cx="31.68" cy="22.57" r="15.15" transform="translate(2.43 48.22) rotate(-76.72)" style="fill:#f2ca30;mix-blend-mode:multiply"/><polygon points="28.02 26.76 18.19 21.09 18.19 32.44 28.02 26.76" style="fill:#fff"/></g></g></g></svg>