section.section.section--videos-fluid
    .container-fluid
        .grid-fluid.grid-fluid--rows
            .grid-fluid__title.title-block
                h2.title-block__title YOUTUBE-КАНАЛ
            .section__link-wrap.grid-fluid__link-wrap
                a(href="#").section__link.grid-fluid__link ПЕРЕЙТИ НА YOUTUBE #[+icon('link-arrow','link-arrow')]
            .grid-fluid__items
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-1.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__descr
                        span.grid-fluid__date 23.06.2019
                        h5.grid-fluid__title Журналисты "Утра России" побывали в офисе ШИЕС
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-2.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__descr
                        span.grid-fluid__date 23.06.2019
                        h5.grid-fluid__title Дайджест материалов СМИ&nbsp;за&nbsp;1&nbsp;––&nbsp;7&nbsp;июля
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-3.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__descr
                        span.grid-fluid__date 23.06.2019
                        h5.grid-fluid__title Польза налицо. Почему не стоит бояться ШИЕС
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-4.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__descr
                        span.grid-fluid__date 23.06.2019
                        h5.grid-fluid__title Журналисты "Утра России" побывали в офисе ШИЕС
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-5.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__descr
                        span.grid-fluid__date 23.06.2019
                        h5.grid-fluid__title Дайджест материалов СМИ&nbsp;за&nbsp;1&nbsp;––&nbsp;7&nbsp;июля
                a(href="#").grid-fluid__item
                    .grid-fluid__visible(style="background-image: url('static/images/content/videos-fluid/img-6.jpg')")
                        //- img(src="", alt="Video preview").grid-fluid__preview
                        img(src="static/images/general/play-icon.svg", alt="Play").grid-fluid__play-icon
                    .grid-fluid__descr
                        span.grid-fluid__date 23.06.2019
                        h5.grid-fluid__title Польза налицо. Почему не стоит бояться ШИЕС

            //- .video-slider-navigation
            //-     .video-slider-navigation__prev
            //-         +icon('prev','slider-navigation__icon')
            //-     .video-slider-navigation__next
            //-         +icon('next','slider-navigation__icon')