.icon
    &-massage
    &-map
        fill none
        stroke #d5662b
        stroke-linecap round
        stroke-miterlimit: 10.000002861023
        stroke-width 7px
        fill-rule evenodd

    &-translation
        fill: none
        stroke: #d5662b
        stroke-width: 3px

    &-map
        stroke-width 10px
    
    &-link
        fill-rule evenodd
        stroke: rgb(51, 143, 48)
        stroke-width 1px
        stroke-linecap butt
        stroke-linejoin miter
        fill none
        size(10px,8px)

        &-arrow
            fill: none;
            stroke: #338f30
            size(30px,17px)
