footer.footer
    .container
        .footer__wrapper
            .footer__item.footer-logo
                a(href="#").footer-logo__link
                    img.footer-logo__icon(src="static/images/general/footer-logo.svg", alt="Экотехнопарк Шиес")
            .footer__item.footer-phone
                a(href="tel:88005111842").footer-phone__link 8-800-511-18-42
                span.footer-phone__descr ЕДИНЫЙ НОМЕР ИНФОРМАЦИОННОГО ЦЕНТРА
                span.footer-phone__free Бесплатный звонок со всех номеров РФ
            .footer__item.footer-socials
                form.form.footer-search
                    input(type="input" placeholder="Поиск").footer-search__input
                    input(type="submit" value="Найти").footer-search__btn

                ul.footer-socials__list
                    li.footer-socials__item
                        a(href="mailto:info@shies.ru").footer-socials__link info@shies.ru
                    li.footer-socials__item
                        a(href="#").footer-socials__link
                            +icon('vk','footer-socials__icon')
                    li.footer-socials__item
                        a(href="#").footer-socials__link
                            +icon('youtube','footer-socials__icon')